<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>WFQuickActionSurfaces</key>
	<array/>
	<key>WFWorkflowActions</key>
	<array>
		<dict>
			<key>WFWorkflowActionIdentifier</key>
			<string>is.workflow.actions.dictionary</string>
			<key>WFWorkflowActionParameters</key>
			<dict>
				<key>CustomOutputName</key>
				<string>Empty Dictionary</string>
				<key>UUID</key>
				<string>D5EFC1CE-7228-4AC0-99DE-49F541F80220</string>
			</dict>
		</dict>
		<dict>
			<key>WFWorkflowActionIdentifier</key>
			<string>dk.simonbs.DataJar.GetValueIntent</string>
			<key>WFWorkflowActionParameters</key>
			<dict>
				<key>CustomOutputName</key>
				<string>Constants</string>
				<key>UUID</key>
				<string>27964F98-77F2-4D55-996B-92A1F7739C55</string>
				<key>keyPath</key>
				<string>Jira - Reopen Recurring Tasks</string>
			</dict>
		</dict>
		<dict>
			<key>WFWorkflowActionIdentifier</key>
			<string>is.workflow.actions.urlencode</string>
			<key>WFWorkflowActionParameters</key>
			<dict>
				<key>CustomOutputName</key>
				<string>JQL</string>
				<key>UUID</key>
				<string>A08868B5-A1BC-404D-B22C-777401A8FF63</string>
				<key>WFInput</key>
				<dict>
					<key>Value</key>
					<dict>
						<key>attachmentsByRange</key>
						<dict>
							<key>{0, 1}</key>
							<dict>
								<key>Aggrandizements</key>
								<array>
									<dict>
										<key>CoercionItemClass</key>
										<string>WFDictionaryContentItem</string>
										<key>Type</key>
										<string>WFCoercionVariableAggrandizement</string>
									</dict>
									<dict>
										<key>DictionaryKey</key>
										<string>Filter: Recurring Tasks</string>
										<key>Type</key>
										<string>WFDictionaryValueVariableAggrandizement</string>
									</dict>
								</array>
								<key>OutputName</key>
								<string>Constants</string>
								<key>OutputUUID</key>
								<string>27964F98-77F2-4D55-996B-92A1F7739C55</string>
								<key>Type</key>
								<string>ActionOutput</string>
							</dict>
						</dict>
						<key>string</key>
						<string>￼ and status = Done</string>
					</dict>
					<key>WFSerializationType</key>
					<string>WFTextTokenString</string>
				</dict>
			</dict>
		</dict>
		<dict>
			<key>WFWorkflowActionIdentifier</key>
			<string>is.workflow.actions.dictionary</string>
			<key>WFWorkflowActionParameters</key>
			<dict>
				<key>UUID</key>
				<string>D5F0A524-2708-4688-9C46-8948DC6682BD</string>
				<key>WFItems</key>
				<dict>
					<key>Value</key>
					<dict>
						<key>WFDictionaryFieldValueItems</key>
						<array>
							<dict>
								<key>WFItemType</key>
								<integer>0</integer>
								<key>WFKey</key>
								<dict>
									<key>Value</key>
									<dict>
										<key>string</key>
										<string>method</string>
									</dict>
									<key>WFSerializationType</key>
									<string>WFTextTokenString</string>
								</dict>
								<key>WFValue</key>
								<dict>
									<key>Value</key>
									<dict>
										<key>string</key>
										<string>GET</string>
									</dict>
									<key>WFSerializationType</key>
									<string>WFTextTokenString</string>
								</dict>
							</dict>
							<dict>
								<key>WFItemType</key>
								<integer>0</integer>
								<key>WFKey</key>
								<dict>
									<key>Value</key>
									<dict>
										<key>string</key>
										<string>path</string>
									</dict>
									<key>WFSerializationType</key>
									<string>WFTextTokenString</string>
								</dict>
								<key>WFValue</key>
								<dict>
									<key>Value</key>
									<dict>
										<key>attachmentsByRange</key>
										<dict>
											<key>{11, 1}</key>
											<dict>
												<key>OutputName</key>
												<string>JQL</string>
												<key>OutputUUID</key>
												<string>A08868B5-A1BC-404D-B22C-777401A8FF63</string>
												<key>Type</key>
												<string>ActionOutput</string>
											</dict>
										</dict>
										<key>string</key>
										<string>search?jql=￼</string>
									</dict>
									<key>WFSerializationType</key>
									<string>WFTextTokenString</string>
								</dict>
							</dict>
						</array>
					</dict>
					<key>WFSerializationType</key>
					<string>WFDictionaryFieldValue</string>
				</dict>
			</dict>
		</dict>
		<dict>
			<key>WFWorkflowActionIdentifier</key>
			<string>is.workflow.actions.runworkflow</string>
			<key>WFWorkflowActionParameters</key>
			<dict>
				<key>CustomOutputName</key>
				<string>Search Issues Result</string>
				<key>UUID</key>
				<string>E2E485F2-1930-467E-AF79-5689736108C4</string>
				<key>WFInput</key>
				<dict>
					<key>Value</key>
					<dict>
						<key>OutputName</key>
						<string>Dictionary</string>
						<key>OutputUUID</key>
						<string>D5F0A524-2708-4688-9C46-8948DC6682BD</string>
						<key>Type</key>
						<string>ActionOutput</string>
					</dict>
					<key>WFSerializationType</key>
					<string>WFTextTokenAttachment</string>
				</dict>
				<key>WFWorkflow</key>
				<dict>
					<key>isSelf</key>
					<false/>
					<key>workflowIdentifier</key>
					<string>B245F907-CA3B-4273-B2B7-BE1A4BAE3F79</string>
					<key>workflowName</key>
					<string>Jira API</string>
				</dict>
				<key>WFWorkflowName</key>
				<string>Jira API</string>
			</dict>
		</dict>
		<dict>
			<key>WFWorkflowActionIdentifier</key>
			<string>is.workflow.actions.repeat.each</string>
			<key>WFWorkflowActionParameters</key>
			<dict>
				<key>GroupingIdentifier</key>
				<string>AE423FC4-1D2B-4E43-AA6F-8E7BEDAEAFAB</string>
				<key>WFControlFlowMode</key>
				<integer>0</integer>
				<key>WFInput</key>
				<dict>
					<key>Value</key>
					<dict>
						<key>Aggrandizements</key>
						<array>
							<dict>
								<key>CoercionItemClass</key>
								<string>WFDictionaryContentItem</string>
								<key>Type</key>
								<string>WFCoercionVariableAggrandizement</string>
							</dict>
							<dict>
								<key>DictionaryKey</key>
								<string>issues</string>
								<key>Type</key>
								<string>WFDictionaryValueVariableAggrandizement</string>
							</dict>
						</array>
						<key>OutputName</key>
						<string>Search Issues Result</string>
						<key>OutputUUID</key>
						<string>E2E485F2-1930-467E-AF79-5689736108C4</string>
						<key>Type</key>
						<string>ActionOutput</string>
					</dict>
					<key>WFSerializationType</key>
					<string>WFTextTokenAttachment</string>
				</dict>
			</dict>
		</dict>
		<dict>
			<key>WFWorkflowActionIdentifier</key>
			<string>is.workflow.actions.dictionary</string>
			<key>WFWorkflowActionParameters</key>
			<dict>
				<key>UUID</key>
				<string>8D0B6DF9-6F3B-424E-8BE4-D57C35186E26</string>
				<key>WFItems</key>
				<dict>
					<key>Value</key>
					<dict>
						<key>WFDictionaryFieldValueItems</key>
						<array>
							<dict>
								<key>WFItemType</key>
								<integer>0</integer>
								<key>WFKey</key>
								<dict>
									<key>Value</key>
									<dict>
										<key>string</key>
										<string>method</string>
									</dict>
									<key>WFSerializationType</key>
									<string>WFTextTokenString</string>
								</dict>
								<key>WFValue</key>
								<dict>
									<key>Value</key>
									<dict>
										<key>string</key>
										<string>POST</string>
									</dict>
									<key>WFSerializationType</key>
									<string>WFTextTokenString</string>
								</dict>
							</dict>
							<dict>
								<key>WFItemType</key>
								<integer>0</integer>
								<key>WFKey</key>
								<dict>
									<key>Value</key>
									<dict>
										<key>string</key>
										<string>path</string>
									</dict>
									<key>WFSerializationType</key>
									<string>WFTextTokenString</string>
								</dict>
								<key>WFValue</key>
								<dict>
									<key>Value</key>
									<dict>
										<key>attachmentsByRange</key>
										<dict>
											<key>{6, 1}</key>
											<dict>
												<key>Aggrandizements</key>
												<array>
													<dict>
														<key>CoercionItemClass</key>
														<string>WFDictionaryContentItem</string>
														<key>Type</key>
														<string>WFCoercionVariableAggrandizement</string>
													</dict>
													<dict>
														<key>DictionaryKey</key>
														<string>key</string>
														<key>Type</key>
														<string>WFDictionaryValueVariableAggrandizement</string>
													</dict>
												</array>
												<key>Type</key>
												<string>Variable</string>
												<key>VariableName</key>
												<string>Repeat Item</string>
											</dict>
										</dict>
										<key>string</key>
										<string>issue/￼/transitions</string>
									</dict>
									<key>WFSerializationType</key>
									<string>WFTextTokenString</string>
								</dict>
							</dict>
							<dict>
								<key>WFItemType</key>
								<integer>1</integer>
								<key>WFKey</key>
								<dict>
									<key>Value</key>
									<dict>
										<key>string</key>
										<string>json</string>
									</dict>
									<key>WFSerializationType</key>
									<string>WFTextTokenString</string>
								</dict>
								<key>WFValue</key>
								<dict>
									<key>Value</key>
									<dict>
										<key>Value</key>
										<dict>
											<key>WFDictionaryFieldValueItems</key>
											<array>
												<dict>
													<key>WFItemType</key>
													<integer>1</integer>
													<key>WFKey</key>
													<dict>
														<key>Value</key>
														<dict>
															<key>string</key>
															<string>transition</string>
														</dict>
														<key>WFSerializationType</key>
														<string>WFTextTokenString</string>
													</dict>
													<key>WFValue</key>
													<dict>
														<key>Value</key>
														<dict>
															<key>Value</key>
															<dict>
																<key>WFDictionaryFieldValueItems</key>
																<array>
																	<dict>
																		<key>WFItemType</key>
																		<integer>0</integer>
																		<key>WFKey</key>
																		<dict>
																			<key>Value</key>
																			<dict>
																				<key>string</key>
																				<string>id</string>
																			</dict>
																			<key>WFSerializationType</key>
																			<string>WFTextTokenString</string>
																		</dict>
																		<key>WFValue</key>
																		<dict>
																			<key>Value</key>
																			<dict>
																				<key>attachmentsByRange</key>
																				<dict>
																					<key>{0, 1}</key>
																					<dict>
																						<key>Aggrandizements</key>
																						<array>
																							<dict>
																								<key>CoercionItemClass</key>
																								<string>WFDictionaryContentItem</string>
																								<key>Type</key>
																								<string>WFCoercionVariableAggrandizement</string>
																							</dict>
																							<dict>
																								<key>DictionaryKey</key>
																								<string>Transition: Waiting For</string>
																								<key>Type</key>
																								<string>WFDictionaryValueVariableAggrandizement</string>
																							</dict>
																						</array>
																						<key>OutputName</key>
																						<string>Constants</string>
																						<key>OutputUUID</key>
																						<string>27964F98-77F2-4D55-996B-92A1F7739C55</string>
																						<key>Type</key>
																						<string>ActionOutput</string>
																					</dict>
																				</dict>
																				<key>string</key>
																				<string>￼</string>
																			</dict>
																			<key>WFSerializationType</key>
																			<string>WFTextTokenString</string>
																		</dict>
																	</dict>
																</array>
															</dict>
															<key>WFSerializationType</key>
															<string>WFDictionaryFieldValue</string>
														</dict>
														<key>WFSerializationType</key>
														<string>WFDictionaryFieldValue</string>
													</dict>
												</dict>
											</array>
										</dict>
										<key>WFSerializationType</key>
										<string>WFDictionaryFieldValue</string>
									</dict>
									<key>WFSerializationType</key>
									<string>WFDictionaryFieldValue</string>
								</dict>
							</dict>
						</array>
					</dict>
					<key>WFSerializationType</key>
					<string>WFDictionaryFieldValue</string>
				</dict>
			</dict>
		</dict>
		<dict>
			<key>WFWorkflowActionIdentifier</key>
			<string>is.workflow.actions.runworkflow</string>
			<key>WFWorkflowActionParameters</key>
			<dict>
				<key>UUID</key>
				<string>F63A70B4-1128-4392-9E80-EA16886965F3</string>
				<key>WFInput</key>
				<dict>
					<key>Value</key>
					<dict>
						<key>OutputName</key>
						<string>Dictionary</string>
						<key>OutputUUID</key>
						<string>8D0B6DF9-6F3B-424E-8BE4-D57C35186E26</string>
						<key>Type</key>
						<string>ActionOutput</string>
					</dict>
					<key>WFSerializationType</key>
					<string>WFTextTokenAttachment</string>
				</dict>
				<key>WFWorkflow</key>
				<dict>
					<key>isSelf</key>
					<false/>
					<key>workflowIdentifier</key>
					<string>B245F907-CA3B-4273-B2B7-BE1A4BAE3F79</string>
					<key>workflowName</key>
					<string>Jira API</string>
				</dict>
				<key>WFWorkflowName</key>
				<string>Jira API</string>
			</dict>
		</dict>
		<dict>
			<key>WFWorkflowActionIdentifier</key>
			<string>is.workflow.actions.getvalueforkey</string>
			<key>WFWorkflowActionParameters</key>
			<dict>
				<key>CustomOutputName</key>
				<string>Reopen Basis Option ID</string>
				<key>UUID</key>
				<string>76C8346B-D727-49CB-8529-E1A4FF4BC841</string>
				<key>WFDictionaryKey</key>
				<dict>
					<key>Value</key>
					<dict>
						<key>attachmentsByRange</key>
						<dict>
							<key>{7, 1}</key>
							<dict>
								<key>Aggrandizements</key>
								<array>
									<dict>
										<key>CoercionItemClass</key>
										<string>WFDictionaryContentItem</string>
										<key>Type</key>
										<string>WFCoercionVariableAggrandizement</string>
									</dict>
									<dict>
										<key>DictionaryKey</key>
										<string>Field: Reopen Basis</string>
										<key>Type</key>
										<string>WFDictionaryValueVariableAggrandizement</string>
									</dict>
								</array>
								<key>OutputName</key>
								<string>Constants</string>
								<key>OutputUUID</key>
								<string>27964F98-77F2-4D55-996B-92A1F7739C55</string>
								<key>Type</key>
								<string>ActionOutput</string>
							</dict>
						</dict>
						<key>string</key>
						<string>fields.￼</string>
					</dict>
					<key>WFSerializationType</key>
					<string>WFTextTokenString</string>
				</dict>
				<key>WFInput</key>
				<dict>
					<key>Value</key>
					<dict>
						<key>Type</key>
						<string>Variable</string>
						<key>VariableName</key>
						<string>Repeat Item</string>
					</dict>
					<key>WFSerializationType</key>
					<string>WFTextTokenAttachment</string>
				</dict>
			</dict>
		</dict>
		<dict>
			<key>WFWorkflowActionIdentifier</key>
			<string>is.workflow.actions.getvalueforkey</string>
			<key>WFWorkflowActionParameters</key>
			<dict>
				<key>CustomOutputName</key>
				<string>Reopen Delay</string>
				<key>UUID</key>
				<string>79BB0600-7F52-42D9-8FD8-432F4681E74F</string>
				<key>WFDictionaryKey</key>
				<dict>
					<key>Value</key>
					<dict>
						<key>attachmentsByRange</key>
						<dict>
							<key>{7, 1}</key>
							<dict>
								<key>Aggrandizements</key>
								<array>
									<dict>
										<key>CoercionItemClass</key>
										<string>WFDictionaryContentItem</string>
										<key>Type</key>
										<string>WFCoercionVariableAggrandizement</string>
									</dict>
									<dict>
										<key>DictionaryKey</key>
										<string>Field: Reopen Delay</string>
										<key>Type</key>
										<string>WFDictionaryValueVariableAggrandizement</string>
									</dict>
								</array>
								<key>OutputName</key>
								<string>Constants</string>
								<key>OutputUUID</key>
								<string>27964F98-77F2-4D55-996B-92A1F7739C55</string>
								<key>Type</key>
								<string>ActionOutput</string>
							</dict>
						</dict>
						<key>string</key>
						<string>fields.￼</string>
					</dict>
					<key>WFSerializationType</key>
					<string>WFTextTokenString</string>
				</dict>
				<key>WFInput</key>
				<dict>
					<key>Value</key>
					<dict>
						<key>Type</key>
						<string>Variable</string>
						<key>VariableName</key>
						<string>Repeat Item</string>
					</dict>
					<key>WFSerializationType</key>
					<string>WFTextTokenAttachment</string>
				</dict>
			</dict>
		</dict>
		<dict>
			<key>WFWorkflowActionIdentifier</key>
			<string>is.workflow.actions.getvalueforkey</string>
			<key>WFWorkflowActionParameters</key>
			<dict>
				<key>CustomOutputName</key>
				<string>Reopen Basis Field Key</string>
				<key>UUID</key>
				<string>F26BFE2E-7A32-431E-99AD-00B23A9239C9</string>
				<key>WFDictionaryKey</key>
				<dict>
					<key>Value</key>
					<dict>
						<key>attachmentsByRange</key>
						<dict>
							<key>{7, 1}</key>
							<dict>
								<key>Aggrandizements</key>
								<array>
									<dict>
										<key>CoercionItemClass</key>
										<string>WFDictionaryContentItem</string>
										<key>Type</key>
										<string>WFCoercionVariableAggrandizement</string>
									</dict>
									<dict>
										<key>DictionaryKey</key>
										<string>id</string>
										<key>Type</key>
										<string>WFDictionaryValueVariableAggrandizement</string>
									</dict>
								</array>
								<key>OutputName</key>
								<string>Reopen Basis Option ID</string>
								<key>OutputUUID</key>
								<string>76C8346B-D727-49CB-8529-E1A4FF4BC841</string>
								<key>Type</key>
								<string>ActionOutput</string>
							</dict>
						</dict>
						<key>string</key>
						<string>Basis: ￼</string>
					</dict>
					<key>WFSerializationType</key>
					<string>WFTextTokenString</string>
				</dict>
				<key>WFInput</key>
				<dict>
					<key>Value</key>
					<dict>
						<key>OutputName</key>
						<string>Constants</string>
						<key>OutputUUID</key>
						<string>27964F98-77F2-4D55-996B-92A1F7739C55</string>
						<key>Type</key>
						<string>ActionOutput</string>
					</dict>
					<key>WFSerializationType</key>
					<string>WFTextTokenAttachment</string>
				</dict>
			</dict>
		</dict>
		<dict>
			<key>WFWorkflowActionIdentifier</key>
			<string>is.workflow.actions.getvalueforkey</string>
			<key>WFWorkflowActionParameters</key>
			<dict>
				<key>CustomOutputName</key>
				<string>Reopen Basis Field Value</string>
				<key>UUID</key>
				<string>306180EF-7558-497D-835C-8A1163545149</string>
				<key>WFDictionaryKey</key>
				<dict>
					<key>Value</key>
					<dict>
						<key>attachmentsByRange</key>
						<dict>
							<key>{7, 1}</key>
							<dict>
								<key>OutputName</key>
								<string>Reopen Basis Field Key</string>
								<key>OutputUUID</key>
								<string>F26BFE2E-7A32-431E-99AD-00B23A9239C9</string>
								<key>Type</key>
								<string>ActionOutput</string>
							</dict>
						</dict>
						<key>string</key>
						<string>fields.￼</string>
					</dict>
					<key>WFSerializationType</key>
					<string>WFTextTokenString</string>
				</dict>
				<key>WFInput</key>
				<dict>
					<key>Value</key>
					<dict>
						<key>Type</key>
						<string>Variable</string>
						<key>VariableName</key>
						<string>Repeat Item</string>
					</dict>
					<key>WFSerializationType</key>
					<string>WFTextTokenAttachment</string>
				</dict>
			</dict>
		</dict>
		<dict>
			<key>WFWorkflowActionIdentifier</key>
			<string>is.workflow.actions.detect.date</string>
			<key>WFWorkflowActionParameters</key>
			<dict>
				<key>CustomOutputName</key>
				<string>Reopen Basis Date</string>
				<key>UUID</key>
				<string>4AF2487E-2AA4-475B-8398-DCDC0834C0EE</string>
				<key>WFInput</key>
				<dict>
					<key>Value</key>
					<dict>
						<key>OutputName</key>
						<string>Reopen Basis Field Value</string>
						<key>OutputUUID</key>
						<string>306180EF-7558-497D-835C-8A1163545149</string>
						<key>Type</key>
						<string>ActionOutput</string>
					</dict>
					<key>WFSerializationType</key>
					<string>WFTextTokenAttachment</string>
				</dict>
			</dict>
		</dict>
		<dict>
			<key>WFWorkflowActionIdentifier</key>
			<string>is.workflow.actions.adjustdate</string>
			<key>WFWorkflowActionParameters</key>
			<dict>
				<key>CustomOutputName</key>
				<string>New Start Date</string>
				<key>UUID</key>
				<string>7F977212-5AAD-4323-9135-FB89CA18059E</string>
				<key>WFDate</key>
				<dict>
					<key>Value</key>
					<dict>
						<key>attachmentsByRange</key>
						<dict>
							<key>{0, 1}</key>
							<dict>
								<key>OutputName</key>
								<string>Reopen Basis Date</string>
								<key>OutputUUID</key>
								<string>4AF2487E-2AA4-475B-8398-DCDC0834C0EE</string>
								<key>Type</key>
								<string>ActionOutput</string>
							</dict>
						</dict>
						<key>string</key>
						<string>￼</string>
					</dict>
					<key>WFSerializationType</key>
					<string>WFTextTokenString</string>
				</dict>
				<key>WFDuration</key>
				<dict>
					<key>Value</key>
					<dict>
						<key>Magnitude</key>
						<dict>
							<key>OutputName</key>
							<string>Reopen Delay</string>
							<key>OutputUUID</key>
							<string>79BB0600-7F52-42D9-8FD8-432F4681E74F</string>
							<key>Type</key>
							<string>ActionOutput</string>
						</dict>
						<key>Unit</key>
						<string>days</string>
					</dict>
					<key>WFSerializationType</key>
					<string>WFQuantityFieldValue</string>
				</dict>
			</dict>
		</dict>
		<dict>
			<key>WFWorkflowActionIdentifier</key>
			<string>is.workflow.actions.dictionary</string>
			<key>WFWorkflowActionParameters</key>
			<dict>
				<key>UUID</key>
				<string>0F1CEE81-35D7-45A0-A2B9-0B40FA5AFE79</string>
				<key>WFItems</key>
				<dict>
					<key>Value</key>
					<dict>
						<key>WFDictionaryFieldValueItems</key>
						<array>
							<dict>
								<key>WFItemType</key>
								<integer>0</integer>
								<key>WFKey</key>
								<dict>
									<key>Value</key>
									<dict>
										<key>attachmentsByRange</key>
										<dict>
											<key>{0, 1}</key>
											<dict>
												<key>Aggrandizements</key>
												<array>
													<dict>
														<key>CoercionItemClass</key>
														<string>WFDictionaryContentItem</string>
														<key>Type</key>
														<string>WFCoercionVariableAggrandizement</string>
													</dict>
													<dict>
														<key>DictionaryKey</key>
														<string>Field: Start Date</string>
														<key>Type</key>
														<string>WFDictionaryValueVariableAggrandizement</string>
													</dict>
												</array>
												<key>OutputName</key>
												<string>Constants</string>
												<key>OutputUUID</key>
												<string>27964F98-77F2-4D55-996B-92A1F7739C55</string>
												<key>Type</key>
												<string>ActionOutput</string>
											</dict>
										</dict>
										<key>string</key>
										<string>￼</string>
									</dict>
									<key>WFSerializationType</key>
									<string>WFTextTokenString</string>
								</dict>
								<key>WFValue</key>
								<dict>
									<key>Value</key>
									<dict>
										<key>attachmentsByRange</key>
										<dict>
											<key>{0, 1}</key>
											<dict>
												<key>Aggrandizements</key>
												<array>
													<dict>
														<key>Type</key>
														<string>WFDateFormatVariableAggrandizement</string>
														<key>WFDateFormatStyle</key>
														<string>ISO 8601</string>
														<key>WFISO8601IncludeTime</key>
														<false/>
													</dict>
												</array>
												<key>OutputName</key>
												<string>New Start Date</string>
												<key>OutputUUID</key>
												<string>7F977212-5AAD-4323-9135-FB89CA18059E</string>
												<key>Type</key>
												<string>ActionOutput</string>
											</dict>
										</dict>
										<key>string</key>
										<string>￼</string>
									</dict>
									<key>WFSerializationType</key>
									<string>WFTextTokenString</string>
								</dict>
							</dict>
						</array>
					</dict>
					<key>WFSerializationType</key>
					<string>WFDictionaryFieldValue</string>
				</dict>
			</dict>
		</dict>
		<dict>
			<key>WFWorkflowActionIdentifier</key>
			<string>is.workflow.actions.setvariable</string>
			<key>WFWorkflowActionParameters</key>
			<dict>
				<key>WFInput</key>
				<dict>
					<key>Value</key>
					<dict>
						<key>OutputName</key>
						<string>Dictionary</string>
						<key>OutputUUID</key>
						<string>0F1CEE81-35D7-45A0-A2B9-0B40FA5AFE79</string>
						<key>Type</key>
						<string>ActionOutput</string>
					</dict>
					<key>WFSerializationType</key>
					<string>WFTextTokenAttachment</string>
				</dict>
				<key>WFVariableName</key>
				<string>New Field Values</string>
			</dict>
		</dict>
		<dict>
			<key>WFWorkflowActionIdentifier</key>
			<string>is.workflow.actions.getvalueforkey</string>
			<key>WFWorkflowActionParameters</key>
			<dict>
				<key>CustomOutputName</key>
				<string>Due Date</string>
				<key>UUID</key>
				<string>4E17AA7C-43E1-4E77-B54B-3F41EF0C628D</string>
				<key>WFDictionaryKey</key>
				<dict>
					<key>Value</key>
					<dict>
						<key>attachmentsByRange</key>
						<dict>
							<key>{7, 1}</key>
							<dict>
								<key>Aggrandizements</key>
								<array>
									<dict>
										<key>CoercionItemClass</key>
										<string>WFDictionaryContentItem</string>
										<key>Type</key>
										<string>WFCoercionVariableAggrandizement</string>
									</dict>
									<dict>
										<key>DictionaryKey</key>
										<string>Field: Due Date</string>
										<key>Type</key>
										<string>WFDictionaryValueVariableAggrandizement</string>
									</dict>
								</array>
								<key>OutputName</key>
								<string>Constants</string>
								<key>OutputUUID</key>
								<string>27964F98-77F2-4D55-996B-92A1F7739C55</string>
								<key>Type</key>
								<string>ActionOutput</string>
							</dict>
						</dict>
						<key>string</key>
						<string>fields.￼</string>
					</dict>
					<key>WFSerializationType</key>
					<string>WFTextTokenString</string>
				</dict>
				<key>WFInput</key>
				<dict>
					<key>Value</key>
					<dict>
						<key>Type</key>
						<string>Variable</string>
						<key>VariableName</key>
						<string>Repeat Item</string>
					</dict>
					<key>WFSerializationType</key>
					<string>WFTextTokenAttachment</string>
				</dict>
			</dict>
		</dict>
		<dict>
			<key>WFWorkflowActionIdentifier</key>
			<string>is.workflow.actions.getvalueforkey</string>
			<key>WFWorkflowActionParameters</key>
			<dict>
				<key>CustomOutputName</key>
				<string>Start Date</string>
				<key>UUID</key>
				<string>CE26BBD2-6344-4DF0-978B-DC2B65B8601F</string>
				<key>WFDictionaryKey</key>
				<dict>
					<key>Value</key>
					<dict>
						<key>attachmentsByRange</key>
						<dict>
							<key>{7, 1}</key>
							<dict>
								<key>Aggrandizements</key>
								<array>
									<dict>
										<key>CoercionItemClass</key>
										<string>WFDictionaryContentItem</string>
										<key>Type</key>
										<string>WFCoercionVariableAggrandizement</string>
									</dict>
									<dict>
										<key>DictionaryKey</key>
										<string>Field: Start Date</string>
										<key>Type</key>
										<string>WFDictionaryValueVariableAggrandizement</string>
									</dict>
								</array>
								<key>OutputName</key>
								<string>Constants</string>
								<key>OutputUUID</key>
								<string>27964F98-77F2-4D55-996B-92A1F7739C55</string>
								<key>Type</key>
								<string>ActionOutput</string>
							</dict>
						</dict>
						<key>string</key>
						<string>fields.￼</string>
					</dict>
					<key>WFSerializationType</key>
					<string>WFTextTokenString</string>
				</dict>
				<key>WFInput</key>
				<dict>
					<key>Value</key>
					<dict>
						<key>Type</key>
						<string>Variable</string>
						<key>VariableName</key>
						<string>Repeat Item</string>
					</dict>
					<key>WFSerializationType</key>
					<string>WFTextTokenAttachment</string>
				</dict>
			</dict>
		</dict>
		<dict>
			<key>WFWorkflowActionIdentifier</key>
			<string>is.workflow.actions.conditional</string>
			<key>WFWorkflowActionParameters</key>
			<dict>
				<key>GroupingIdentifier</key>
				<string>45D68504-844B-4442-A6C9-E2A4C53E75BC</string>
				<key>WFCondition</key>
				<integer>100</integer>
				<key>WFControlFlowMode</key>
				<integer>0</integer>
				<key>WFInput</key>
				<dict>
					<key>Type</key>
					<string>Variable</string>
					<key>Variable</key>
					<dict>
						<key>Value</key>
						<dict>
							<key>OutputName</key>
							<string>Due Date</string>
							<key>OutputUUID</key>
							<string>4E17AA7C-43E1-4E77-B54B-3F41EF0C628D</string>
							<key>Type</key>
							<string>ActionOutput</string>
						</dict>
						<key>WFSerializationType</key>
						<string>WFTextTokenAttachment</string>
					</dict>
				</dict>
			</dict>
		</dict>
		<dict>
			<key>WFWorkflowActionIdentifier</key>
			<string>is.workflow.actions.conditional</string>
			<key>WFWorkflowActionParameters</key>
			<dict>
				<key>GroupingIdentifier</key>
				<string>4EBACF8B-4223-4128-B956-2E3076C9EF95</string>
				<key>WFCondition</key>
				<integer>100</integer>
				<key>WFControlFlowMode</key>
				<integer>0</integer>
				<key>WFInput</key>
				<dict>
					<key>Type</key>
					<string>Variable</string>
					<key>Variable</key>
					<dict>
						<key>Value</key>
						<dict>
							<key>OutputName</key>
							<string>Start Date</string>
							<key>OutputUUID</key>
							<string>CE26BBD2-6344-4DF0-978B-DC2B65B8601F</string>
							<key>Type</key>
							<string>ActionOutput</string>
						</dict>
						<key>WFSerializationType</key>
						<string>WFTextTokenAttachment</string>
					</dict>
				</dict>
			</dict>
		</dict>
		<dict>
			<key>WFWorkflowActionIdentifier</key>
			<string>is.workflow.actions.gettimebetweendates</string>
			<key>WFWorkflowActionParameters</key>
			<dict>
				<key>UUID</key>
				<string>249F0F95-1358-42FF-B112-0D8E1D537E88</string>
				<key>WFInput</key>
				<dict>
					<key>Value</key>
					<dict>
						<key>attachmentsByRange</key>
						<dict>
							<key>{0, 1}</key>
							<dict>
								<key>OutputName</key>
								<string>Due Date</string>
								<key>OutputUUID</key>
								<string>4E17AA7C-43E1-4E77-B54B-3F41EF0C628D</string>
								<key>Type</key>
								<string>ActionOutput</string>
							</dict>
						</dict>
						<key>string</key>
						<string>￼</string>
					</dict>
					<key>WFSerializationType</key>
					<string>WFTextTokenString</string>
				</dict>
				<key>WFTimeUntilFromDate</key>
				<dict>
					<key>Value</key>
					<dict>
						<key>attachmentsByRange</key>
						<dict>
							<key>{0, 1}</key>
							<dict>
								<key>OutputName</key>
								<string>Start Date</string>
								<key>OutputUUID</key>
								<string>CE26BBD2-6344-4DF0-978B-DC2B65B8601F</string>
								<key>Type</key>
								<string>ActionOutput</string>
							</dict>
						</dict>
						<key>string</key>
						<string>￼</string>
					</dict>
					<key>WFSerializationType</key>
					<string>WFTextTokenString</string>
				</dict>
				<key>WFTimeUntilUnit</key>
				<string>Days</string>
			</dict>
		</dict>
		<dict>
			<key>WFWorkflowActionIdentifier</key>
			<string>is.workflow.actions.adjustdate</string>
			<key>WFWorkflowActionParameters</key>
			<dict>
				<key>CustomOutputName</key>
				<string>New Due Date</string>
				<key>UUID</key>
				<string>98656B9B-9678-4328-B8BC-53A3B50FA85C</string>
				<key>WFDate</key>
				<dict>
					<key>Value</key>
					<dict>
						<key>attachmentsByRange</key>
						<dict>
							<key>{0, 1}</key>
							<dict>
								<key>OutputName</key>
								<string>New Start Date</string>
								<key>OutputUUID</key>
								<string>7F977212-5AAD-4323-9135-FB89CA18059E</string>
								<key>Type</key>
								<string>ActionOutput</string>
							</dict>
						</dict>
						<key>string</key>
						<string>￼</string>
					</dict>
					<key>WFSerializationType</key>
					<string>WFTextTokenString</string>
				</dict>
				<key>WFDuration</key>
				<dict>
					<key>Value</key>
					<dict>
						<key>Magnitude</key>
						<dict>
							<key>OutputName</key>
							<string>Time Between Dates</string>
							<key>OutputUUID</key>
							<string>249F0F95-1358-42FF-B112-0D8E1D537E88</string>
							<key>Type</key>
							<string>ActionOutput</string>
						</dict>
						<key>Unit</key>
						<string>days</string>
					</dict>
					<key>WFSerializationType</key>
					<string>WFQuantityFieldValue</string>
				</dict>
			</dict>
		</dict>
		<dict>
			<key>WFWorkflowActionIdentifier</key>
			<string>is.workflow.actions.setvalueforkey</string>
			<key>WFWorkflowActionParameters</key>
			<dict>
				<key>UUID</key>
				<string>8263691C-15E9-47DC-8517-48F6DF225E14</string>
				<key>WFDictionary</key>
				<dict>
					<key>Value</key>
					<dict>
						<key>Type</key>
						<string>Variable</string>
						<key>VariableName</key>
						<string>New Field Values</string>
					</dict>
					<key>WFSerializationType</key>
					<string>WFTextTokenAttachment</string>
				</dict>
				<key>WFDictionaryKey</key>
				<dict>
					<key>Value</key>
					<dict>
						<key>attachmentsByRange</key>
						<dict>
							<key>{0, 1}</key>
							<dict>
								<key>Aggrandizements</key>
								<array>
									<dict>
										<key>CoercionItemClass</key>
										<string>WFDictionaryContentItem</string>
										<key>Type</key>
										<string>WFCoercionVariableAggrandizement</string>
									</dict>
									<dict>
										<key>DictionaryKey</key>
										<string>Field: Due Date</string>
										<key>Type</key>
										<string>WFDictionaryValueVariableAggrandizement</string>
									</dict>
								</array>
								<key>OutputName</key>
								<string>Constants</string>
								<key>OutputUUID</key>
								<string>27964F98-77F2-4D55-996B-92A1F7739C55</string>
								<key>Type</key>
								<string>ActionOutput</string>
							</dict>
						</dict>
						<key>string</key>
						<string>￼</string>
					</dict>
					<key>WFSerializationType</key>
					<string>WFTextTokenString</string>
				</dict>
				<key>WFDictionaryValue</key>
				<dict>
					<key>Value</key>
					<dict>
						<key>attachmentsByRange</key>
						<dict>
							<key>{0, 1}</key>
							<dict>
								<key>Aggrandizements</key>
								<array>
									<dict>
										<key>Type</key>
										<string>WFDateFormatVariableAggrandizement</string>
										<key>WFDateFormatStyle</key>
										<string>ISO 8601</string>
										<key>WFISO8601IncludeTime</key>
										<false/>
									</dict>
								</array>
								<key>OutputName</key>
								<string>New Due Date</string>
								<key>OutputUUID</key>
								<string>98656B9B-9678-4328-B8BC-53A3B50FA85C</string>
								<key>Type</key>
								<string>ActionOutput</string>
							</dict>
						</dict>
						<key>string</key>
						<string>￼</string>
					</dict>
					<key>WFSerializationType</key>
					<string>WFTextTokenString</string>
				</dict>
			</dict>
		</dict>
		<dict>
			<key>WFWorkflowActionIdentifier</key>
			<string>is.workflow.actions.setvariable</string>
			<key>WFWorkflowActionParameters</key>
			<dict>
				<key>WFInput</key>
				<dict>
					<key>Value</key>
					<dict>
						<key>OutputName</key>
						<string>Dictionary</string>
						<key>OutputUUID</key>
						<string>8263691C-15E9-47DC-8517-48F6DF225E14</string>
						<key>Type</key>
						<string>ActionOutput</string>
					</dict>
					<key>WFSerializationType</key>
					<string>WFTextTokenAttachment</string>
				</dict>
				<key>WFVariableName</key>
				<string>New Field Values</string>
			</dict>
		</dict>
		<dict>
			<key>WFWorkflowActionIdentifier</key>
			<string>is.workflow.actions.conditional</string>
			<key>WFWorkflowActionParameters</key>
			<dict>
				<key>GroupingIdentifier</key>
				<string>4EBACF8B-4223-4128-B956-2E3076C9EF95</string>
				<key>UUID</key>
				<string>4B95B280-44AA-455F-9914-C05FEBE9C5A7</string>
				<key>WFControlFlowMode</key>
				<integer>2</integer>
			</dict>
		</dict>
		<dict>
			<key>WFWorkflowActionIdentifier</key>
			<string>is.workflow.actions.conditional</string>
			<key>WFWorkflowActionParameters</key>
			<dict>
				<key>GroupingIdentifier</key>
				<string>45D68504-844B-4442-A6C9-E2A4C53E75BC</string>
				<key>UUID</key>
				<string>150F27CF-7487-4463-A5FF-A5D4FB0D8E8E</string>
				<key>WFControlFlowMode</key>
				<integer>2</integer>
			</dict>
		</dict>
		<dict>
			<key>WFWorkflowActionIdentifier</key>
			<string>is.workflow.actions.dictionary</string>
			<key>WFWorkflowActionParameters</key>
			<dict>
				<key>CustomOutputName</key>
				<string>Issue Edit Dictionary</string>
				<key>UUID</key>
				<string>AD055E42-C163-4091-936B-7DD3DE897DC6</string>
				<key>WFItems</key>
				<dict>
					<key>Value</key>
					<dict>
						<key>WFDictionaryFieldValueItems</key>
						<array>
							<dict>
								<key>WFItemType</key>
								<integer>0</integer>
								<key>WFKey</key>
								<dict>
									<key>Value</key>
									<dict>
										<key>string</key>
										<string>method</string>
									</dict>
									<key>WFSerializationType</key>
									<string>WFTextTokenString</string>
								</dict>
								<key>WFValue</key>
								<dict>
									<key>Value</key>
									<dict>
										<key>string</key>
										<string>PUT</string>
									</dict>
									<key>WFSerializationType</key>
									<string>WFTextTokenString</string>
								</dict>
							</dict>
							<dict>
								<key>WFItemType</key>
								<integer>0</integer>
								<key>WFKey</key>
								<dict>
									<key>Value</key>
									<dict>
										<key>string</key>
										<string>path</string>
									</dict>
									<key>WFSerializationType</key>
									<string>WFTextTokenString</string>
								</dict>
								<key>WFValue</key>
								<dict>
									<key>Value</key>
									<dict>
										<key>attachmentsByRange</key>
										<dict>
											<key>{6, 1}</key>
											<dict>
												<key>Aggrandizements</key>
												<array>
													<dict>
														<key>CoercionItemClass</key>
														<string>WFDictionaryContentItem</string>
														<key>Type</key>
														<string>WFCoercionVariableAggrandizement</string>
													</dict>
													<dict>
														<key>DictionaryKey</key>
														<string>key</string>
														<key>Type</key>
														<string>WFDictionaryValueVariableAggrandizement</string>
													</dict>
												</array>
												<key>Type</key>
												<string>Variable</string>
												<key>VariableName</key>
												<string>Repeat Item</string>
											</dict>
										</dict>
										<key>string</key>
										<string>issue/￼</string>
									</dict>
									<key>WFSerializationType</key>
									<string>WFTextTokenString</string>
								</dict>
							</dict>
						</array>
					</dict>
					<key>WFSerializationType</key>
					<string>WFDictionaryFieldValue</string>
				</dict>
			</dict>
		</dict>
		<dict>
			<key>WFWorkflowActionIdentifier</key>
			<string>is.workflow.actions.setvalueforkey</string>
			<key>WFWorkflowActionParameters</key>
			<dict>
				<key>CustomOutputName</key>
				<string>Fields Dictionary</string>
				<key>UUID</key>
				<string>88E86D8E-5727-4F3E-97CF-13F1EC47272E</string>
				<key>WFDictionary</key>
				<dict>
					<key>Value</key>
					<dict>
						<key>OutputName</key>
						<string>Empty Dictionary</string>
						<key>OutputUUID</key>
						<string>D5EFC1CE-7228-4AC0-99DE-49F541F80220</string>
						<key>Type</key>
						<string>ActionOutput</string>
					</dict>
					<key>WFSerializationType</key>
					<string>WFTextTokenAttachment</string>
				</dict>
				<key>WFDictionaryKey</key>
				<string>fields</string>
				<key>WFDictionaryValue</key>
				<dict>
					<key>Value</key>
					<dict>
						<key>attachmentsByRange</key>
						<dict>
							<key>{0, 1}</key>
							<dict>
								<key>Type</key>
								<string>Variable</string>
								<key>VariableName</key>
								<string>New Field Values</string>
							</dict>
						</dict>
						<key>string</key>
						<string>￼</string>
					</dict>
					<key>WFSerializationType</key>
					<string>WFTextTokenString</string>
				</dict>
			</dict>
		</dict>
		<dict>
			<key>WFWorkflowActionIdentifier</key>
			<string>is.workflow.actions.setvalueforkey</string>
			<key>WFWorkflowActionParameters</key>
			<dict>
				<key>UUID</key>
				<string>10C2671F-B0ED-4A9D-B1EB-9EBFDD61E67E</string>
				<key>WFDictionary</key>
				<dict>
					<key>Value</key>
					<dict>
						<key>OutputName</key>
						<string>Issue Edit Dictionary</string>
						<key>OutputUUID</key>
						<string>AD055E42-C163-4091-936B-7DD3DE897DC6</string>
						<key>Type</key>
						<string>ActionOutput</string>
					</dict>
					<key>WFSerializationType</key>
					<string>WFTextTokenAttachment</string>
				</dict>
				<key>WFDictionaryKey</key>
				<string>json</string>
				<key>WFDictionaryValue</key>
				<dict>
					<key>Value</key>
					<dict>
						<key>attachmentsByRange</key>
						<dict>
							<key>{0, 1}</key>
							<dict>
								<key>OutputName</key>
								<string>Fields Dictionary</string>
								<key>OutputUUID</key>
								<string>88E86D8E-5727-4F3E-97CF-13F1EC47272E</string>
								<key>Type</key>
								<string>ActionOutput</string>
							</dict>
						</dict>
						<key>string</key>
						<string>￼</string>
					</dict>
					<key>WFSerializationType</key>
					<string>WFTextTokenString</string>
				</dict>
			</dict>
		</dict>
		<dict>
			<key>WFWorkflowActionIdentifier</key>
			<string>is.workflow.actions.runworkflow</string>
			<key>WFWorkflowActionParameters</key>
			<dict>
				<key>UUID</key>
				<string>48A16FCF-A72C-4558-BDDB-5FE2A9B0CCC7</string>
				<key>WFInput</key>
				<dict>
					<key>Value</key>
					<dict>
						<key>OutputName</key>
						<string>Dictionary</string>
						<key>OutputUUID</key>
						<string>10C2671F-B0ED-4A9D-B1EB-9EBFDD61E67E</string>
						<key>Type</key>
						<string>ActionOutput</string>
					</dict>
					<key>WFSerializationType</key>
					<string>WFTextTokenAttachment</string>
				</dict>
				<key>WFWorkflow</key>
				<dict>
					<key>isSelf</key>
					<false/>
					<key>workflowIdentifier</key>
					<string>B245F907-CA3B-4273-B2B7-BE1A4BAE3F79</string>
					<key>workflowName</key>
					<string>Jira API</string>
				</dict>
				<key>WFWorkflowName</key>
				<string>Jira API</string>
			</dict>
		</dict>
		<dict>
			<key>WFWorkflowActionIdentifier</key>
			<string>is.workflow.actions.repeat.each</string>
			<key>WFWorkflowActionParameters</key>
			<dict>
				<key>GroupingIdentifier</key>
				<string>AE423FC4-1D2B-4E43-AA6F-8E7BEDAEAFAB</string>
				<key>UUID</key>
				<string>A9502E68-7460-48D8-9D89-32A7FBF19F92</string>
				<key>WFControlFlowMode</key>
				<integer>2</integer>
			</dict>
		</dict>
	</array>
	<key>WFWorkflowClientVersion</key>
	<string>2302.0.4</string>
	<key>WFWorkflowHasOutputFallback</key>
	<false/>
	<key>WFWorkflowHasShortcutInputVariables</key>
	<false/>
	<key>WFWorkflowIcon</key>
	<dict>
		<key>WFWorkflowIconGlyphNumber</key>
		<integer>61440</integer>
		<key>WFWorkflowIconStartColor</key>
		<integer>-1448498689</integer>
	</dict>
	<key>WFWorkflowImportQuestions</key>
	<array/>
	<key>WFWorkflowInputContentItemClasses</key>
	<array>
		<string>WFAppStoreAppContentItem</string>
		<string>WFArticleContentItem</string>
		<string>WFContactContentItem</string>
		<string>WFDateContentItem</string>
		<string>WFEmailAddressContentItem</string>
		<string>WFFolderContentItem</string>
		<string>WFGenericFileContentItem</string>
		<string>WFImageContentItem</string>
		<string>WFiTunesProductContentItem</string>
		<string>WFLocationContentItem</string>
		<string>WFDCMapsLinkContentItem</string>
		<string>WFAVAssetContentItem</string>
		<string>WFPDFContentItem</string>
		<string>WFPhoneNumberContentItem</string>
		<string>WFRichTextContentItem</string>
		<string>WFSafariWebPageContentItem</string>
		<string>WFStringContentItem</string>
		<string>WFURLContentItem</string>
	</array>
	<key>WFWorkflowMinimumClientVersion</key>
	<integer>900</integer>
	<key>WFWorkflowMinimumClientVersionString</key>
	<string>900</string>
	<key>WFWorkflowOutputContentItemClasses</key>
	<array/>
	<key>WFWorkflowTypes</key>
	<array/>
</dict>
</plist>
