<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>WFQuickActionSurfaces</key>
	<array/>
	<key>WFWorkflowActions</key>
	<array>
		<dict>
			<key>WFWorkflowActionIdentifier</key>
			<string>is.workflow.actions.gettext</string>
			<key>WFWorkflowActionParameters</key>
			<dict>
				<key>UUID</key>
				<string>DDC72E39-4309-44F3-9CF8-5363F365A6CE</string>
				<key>WFTextActionText</key>
				<string>10096</string>
			</dict>
		</dict>
		<dict>
			<key>WFWorkflowActionIdentifier</key>
			<string>is.workflow.actions.setvariable</string>
			<key>WFWorkflowActionParameters</key>
			<dict>
				<key>WFInput</key>
				<dict>
					<key>Value</key>
					<dict>
						<key>OutputName</key>
						<string>Text</string>
						<key>OutputUUID</key>
						<string>DDC72E39-4309-44F3-9CF8-5363F365A6CE</string>
						<key>Type</key>
						<string>ActionOutput</string>
					</dict>
					<key>WFSerializationType</key>
					<string>WFTextTokenAttachment</string>
				</dict>
				<key>WFVariableName</key>
				<string>FID</string>
			</dict>
		</dict>
		<dict>
			<key>WFWorkflowActionIdentifier</key>
			<string>is.workflow.actions.gettext</string>
			<key>WFWorkflowActionParameters</key>
			<dict>
				<key>CustomOutputName</key>
				<string>JQL</string>
				<key>UUID</key>
				<string>265915F4-5E67-47DE-915D-1A00F0928D3F</string>
				<key>WFTextActionText</key>
				<dict>
					<key>Value</key>
					<dict>
						<key>attachmentsByRange</key>
						<dict>
							<key>{30, 1}</key>
							<dict>
								<key>Type</key>
								<string>Variable</string>
								<key>VariableName</key>
								<string>FID</string>
							</dict>
						</dict>
						<key>string</key>
						<string>lastViewed is not EMPTY or cf[￼] is EMPTY</string>
					</dict>
					<key>WFSerializationType</key>
					<string>WFTextTokenString</string>
				</dict>
			</dict>
		</dict>
		<dict>
			<key>WFWorkflowActionIdentifier</key>
			<string>is.workflow.actions.dictionary</string>
			<key>WFWorkflowActionParameters</key>
			<dict>
				<key>UUID</key>
				<string>88D0D22C-5C6D-465B-B196-7FCCC743A09C</string>
				<key>WFItems</key>
				<dict>
					<key>Value</key>
					<dict>
						<key>WFDictionaryFieldValueItems</key>
						<array>
							<dict>
								<key>WFItemType</key>
								<integer>0</integer>
								<key>WFKey</key>
								<dict>
									<key>Value</key>
									<dict>
										<key>string</key>
										<string>method</string>
									</dict>
									<key>WFSerializationType</key>
									<string>WFTextTokenString</string>
								</dict>
								<key>WFValue</key>
								<dict>
									<key>Value</key>
									<dict>
										<key>string</key>
										<string>GET</string>
									</dict>
									<key>WFSerializationType</key>
									<string>WFTextTokenString</string>
								</dict>
							</dict>
							<dict>
								<key>WFItemType</key>
								<integer>0</integer>
								<key>WFKey</key>
								<dict>
									<key>Value</key>
									<dict>
										<key>string</key>
										<string>path</string>
									</dict>
									<key>WFSerializationType</key>
									<string>WFTextTokenString</string>
								</dict>
								<key>WFValue</key>
								<dict>
									<key>Value</key>
									<dict>
										<key>string</key>
										<string>search</string>
									</dict>
									<key>WFSerializationType</key>
									<string>WFTextTokenString</string>
								</dict>
							</dict>
							<dict>
								<key>WFItemType</key>
								<integer>1</integer>
								<key>WFKey</key>
								<dict>
									<key>Value</key>
									<dict>
										<key>string</key>
										<string>params</string>
									</dict>
									<key>WFSerializationType</key>
									<string>WFTextTokenString</string>
								</dict>
								<key>WFValue</key>
								<dict>
									<key>Value</key>
									<dict>
										<key>Value</key>
										<dict>
											<key>WFDictionaryFieldValueItems</key>
											<array>
												<dict>
													<key>WFItemType</key>
													<integer>0</integer>
													<key>WFKey</key>
													<dict>
														<key>Value</key>
														<dict>
															<key>string</key>
															<string>jql</string>
														</dict>
														<key>WFSerializationType</key>
														<string>WFTextTokenString</string>
													</dict>
													<key>WFValue</key>
													<dict>
														<key>Value</key>
														<dict>
															<key>attachmentsByRange</key>
															<dict>
																<key>{0, 1}</key>
																<dict>
																	<key>OutputName</key>
																	<string>JQL</string>
																	<key>OutputUUID</key>
																	<string>265915F4-5E67-47DE-915D-1A00F0928D3F</string>
																	<key>Type</key>
																	<string>ActionOutput</string>
																</dict>
															</dict>
															<key>string</key>
															<string>￼</string>
														</dict>
														<key>WFSerializationType</key>
														<string>WFTextTokenString</string>
													</dict>
												</dict>
												<dict>
													<key>WFItemType</key>
													<integer>0</integer>
													<key>WFKey</key>
													<dict>
														<key>Value</key>
														<dict>
															<key>string</key>
															<string>fields</string>
														</dict>
														<key>WFSerializationType</key>
														<string>WFTextTokenString</string>
													</dict>
													<key>WFValue</key>
													<dict>
														<key>Value</key>
														<dict>
															<key>attachmentsByRange</key>
															<dict>
																<key>{31, 1}</key>
																<dict>
																	<key>Type</key>
																	<string>Variable</string>
																	<key>VariableName</key>
																	<string>FID</string>
																</dict>
															</dict>
															<key>string</key>
															<string>updated,lastViewed,customfield_￼</string>
														</dict>
														<key>WFSerializationType</key>
														<string>WFTextTokenString</string>
													</dict>
												</dict>
												<dict>
													<key>WFItemType</key>
													<integer>0</integer>
													<key>WFKey</key>
													<dict>
														<key>Value</key>
														<dict>
															<key>string</key>
															<string>maxResults</string>
														</dict>
														<key>WFSerializationType</key>
														<string>WFTextTokenString</string>
													</dict>
													<key>WFValue</key>
													<dict>
														<key>Value</key>
														<dict>
															<key>string</key>
															<string>1000</string>
														</dict>
														<key>WFSerializationType</key>
														<string>WFTextTokenString</string>
													</dict>
												</dict>
											</array>
										</dict>
										<key>WFSerializationType</key>
										<string>WFDictionaryFieldValue</string>
									</dict>
									<key>WFSerializationType</key>
									<string>WFDictionaryFieldValue</string>
								</dict>
							</dict>
						</array>
					</dict>
					<key>WFSerializationType</key>
					<string>WFDictionaryFieldValue</string>
				</dict>
			</dict>
		</dict>
		<dict>
			<key>WFWorkflowActionIdentifier</key>
			<string>is.workflow.actions.runworkflow</string>
			<key>WFWorkflowActionParameters</key>
			<dict>
				<key>CustomOutputName</key>
				<string>Get Viewed Issues Result</string>
				<key>UUID</key>
				<string>0BC34C52-3304-4A72-8199-D233EFFF2D04</string>
				<key>WFInput</key>
				<dict>
					<key>Value</key>
					<dict>
						<key>OutputName</key>
						<string>Dictionary</string>
						<key>OutputUUID</key>
						<string>88D0D22C-5C6D-465B-B196-7FCCC743A09C</string>
						<key>Type</key>
						<string>ActionOutput</string>
					</dict>
					<key>WFSerializationType</key>
					<string>WFTextTokenAttachment</string>
				</dict>
				<key>WFWorkflow</key>
				<dict>
					<key>isSelf</key>
					<false/>
					<key>workflowIdentifier</key>
					<string>B245F907-CA3B-4273-B2B7-BE1A4BAE3F79</string>
					<key>workflowName</key>
					<string>Jira API</string>
				</dict>
				<key>WFWorkflowName</key>
				<string>Jira API</string>
			</dict>
		</dict>
		<dict>
			<key>WFWorkflowActionIdentifier</key>
			<string>is.workflow.actions.repeat.each</string>
			<key>WFWorkflowActionParameters</key>
			<dict>
				<key>GroupingIdentifier</key>
				<string>6F192F82-E28B-4DA5-8E9D-3595CEE96F87</string>
				<key>WFControlFlowMode</key>
				<integer>0</integer>
				<key>WFInput</key>
				<dict>
					<key>Value</key>
					<dict>
						<key>Aggrandizements</key>
						<array>
							<dict>
								<key>CoercionItemClass</key>
								<string>WFDictionaryContentItem</string>
								<key>Type</key>
								<string>WFCoercionVariableAggrandizement</string>
							</dict>
							<dict>
								<key>DictionaryKey</key>
								<string>issues</string>
								<key>Type</key>
								<string>WFDictionaryValueVariableAggrandizement</string>
							</dict>
						</array>
						<key>OutputName</key>
						<string>Get Viewed Issues Result</string>
						<key>OutputUUID</key>
						<string>0BC34C52-3304-4A72-8199-D233EFFF2D04</string>
						<key>Type</key>
						<string>ActionOutput</string>
					</dict>
					<key>WFSerializationType</key>
					<string>WFTextTokenAttachment</string>
				</dict>
			</dict>
		</dict>
		<dict>
			<key>WFWorkflowActionIdentifier</key>
			<string>is.workflow.actions.gettext</string>
			<key>WFWorkflowActionParameters</key>
			<dict>
				<key>CustomOutputName</key>
				<string>jq</string>
				<key>UUID</key>
				<string>E0BE9453-92FB-40ED-B03E-B9C6B46BC0B1</string>
				<key>WFTextActionText</key>
				<dict>
					<key>Value</key>
					<dict>
						<key>attachmentsByRange</key>
						<dict>
							<key>{57, 1}</key>
							<dict>
								<key>Type</key>
								<string>Variable</string>
								<key>VariableName</key>
								<string>FID</string>
							</dict>
						</dict>
						<key>string</key>
						<string>([.fields[]] | max) as $max
| (
  if .fields.customfield_￼ == $max
  then empty
  else { key, newValue: $max }
  end
)</string>
					</dict>
					<key>WFSerializationType</key>
					<string>WFTextTokenString</string>
				</dict>
			</dict>
		</dict>
		<dict>
			<key>WFWorkflowActionIdentifier</key>
			<string>ke.bou.GizmoPack.QueryJSONIntent</string>
			<key>WFWorkflowActionParameters</key>
			<dict>
				<key>UUID</key>
				<string>C3E456FC-B4AC-4548-8650-E06F7DCA6CE1</string>
				<key>input</key>
				<dict>
					<key>Value</key>
					<dict>
						<key>Type</key>
						<string>Variable</string>
						<key>VariableName</key>
						<string>Repeat Item</string>
					</dict>
					<key>WFSerializationType</key>
					<string>WFTextTokenAttachment</string>
				</dict>
				<key>jqQuery</key>
				<dict>
					<key>Value</key>
					<dict>
						<key>attachmentsByRange</key>
						<dict>
							<key>{0, 1}</key>
							<dict>
								<key>OutputName</key>
								<string>jq</string>
								<key>OutputUUID</key>
								<string>E0BE9453-92FB-40ED-B03E-B9C6B46BC0B1</string>
								<key>Type</key>
								<string>ActionOutput</string>
							</dict>
						</dict>
						<key>string</key>
						<string>￼</string>
					</dict>
					<key>WFSerializationType</key>
					<string>WFTextTokenString</string>
				</dict>
				<key>queryType</key>
				<string>jq</string>
			</dict>
		</dict>
		<dict>
			<key>WFWorkflowActionIdentifier</key>
			<string>is.workflow.actions.conditional</string>
			<key>WFWorkflowActionParameters</key>
			<dict>
				<key>GroupingIdentifier</key>
				<string>FAC0F958-C6D7-4969-9830-1BE2C0B6472C</string>
				<key>WFCondition</key>
				<integer>100</integer>
				<key>WFConditionalActionString</key>
				<dict>
					<key>Value</key>
					<dict>
						<key>attachmentsByRange</key>
						<dict>
							<key>{0, 1}</key>
							<dict>
								<key>OutputName</key>
								<string>Updated</string>
								<key>OutputUUID</key>
								<string>B5A89EBA-AE74-4E15-A2ED-DCD19586F84E</string>
								<key>Type</key>
								<string>ActionOutput</string>
							</dict>
						</dict>
						<key>string</key>
						<string>￼</string>
					</dict>
					<key>WFSerializationType</key>
					<string>WFTextTokenString</string>
				</dict>
				<key>WFControlFlowMode</key>
				<integer>0</integer>
				<key>WFInput</key>
				<dict>
					<key>Type</key>
					<string>Variable</string>
					<key>Variable</key>
					<dict>
						<key>Value</key>
						<dict>
							<key>OutputName</key>
							<string>Result</string>
							<key>OutputUUID</key>
							<string>C3E456FC-B4AC-4548-8650-E06F7DCA6CE1</string>
							<key>Type</key>
							<string>ActionOutput</string>
						</dict>
						<key>WFSerializationType</key>
						<string>WFTextTokenAttachment</string>
					</dict>
				</dict>
			</dict>
		</dict>
		<dict>
			<key>WFWorkflowActionIdentifier</key>
			<string>is.workflow.actions.dictionary</string>
			<key>WFWorkflowActionParameters</key>
			<dict>
				<key>UUID</key>
				<string>D340DC0F-B702-4938-9C37-36168D945BF1</string>
				<key>WFItems</key>
				<dict>
					<key>Value</key>
					<dict>
						<key>WFDictionaryFieldValueItems</key>
						<array>
							<dict>
								<key>WFItemType</key>
								<integer>0</integer>
								<key>WFKey</key>
								<dict>
									<key>Value</key>
									<dict>
										<key>string</key>
										<string>method</string>
									</dict>
									<key>WFSerializationType</key>
									<string>WFTextTokenString</string>
								</dict>
								<key>WFValue</key>
								<dict>
									<key>Value</key>
									<dict>
										<key>string</key>
										<string>PUT</string>
									</dict>
									<key>WFSerializationType</key>
									<string>WFTextTokenString</string>
								</dict>
							</dict>
							<dict>
								<key>WFItemType</key>
								<integer>0</integer>
								<key>WFKey</key>
								<dict>
									<key>Value</key>
									<dict>
										<key>string</key>
										<string>path</string>
									</dict>
									<key>WFSerializationType</key>
									<string>WFTextTokenString</string>
								</dict>
								<key>WFValue</key>
								<dict>
									<key>Value</key>
									<dict>
										<key>attachmentsByRange</key>
										<dict>
											<key>{6, 1}</key>
											<dict>
												<key>Aggrandizements</key>
												<array>
													<dict>
														<key>CoercionItemClass</key>
														<string>WFDictionaryContentItem</string>
														<key>Type</key>
														<string>WFCoercionVariableAggrandizement</string>
													</dict>
													<dict>
														<key>DictionaryKey</key>
														<string>key</string>
														<key>Type</key>
														<string>WFDictionaryValueVariableAggrandizement</string>
													</dict>
												</array>
												<key>OutputName</key>
												<string>Result</string>
												<key>OutputUUID</key>
												<string>C3E456FC-B4AC-4548-8650-E06F7DCA6CE1</string>
												<key>Type</key>
												<string>ActionOutput</string>
											</dict>
										</dict>
										<key>string</key>
										<string>issue/￼</string>
									</dict>
									<key>WFSerializationType</key>
									<string>WFTextTokenString</string>
								</dict>
							</dict>
							<dict>
								<key>WFItemType</key>
								<integer>1</integer>
								<key>WFKey</key>
								<dict>
									<key>Value</key>
									<dict>
										<key>string</key>
										<string>json</string>
									</dict>
									<key>WFSerializationType</key>
									<string>WFTextTokenString</string>
								</dict>
								<key>WFValue</key>
								<dict>
									<key>Value</key>
									<dict>
										<key>Value</key>
										<dict>
											<key>WFDictionaryFieldValueItems</key>
											<array>
												<dict>
													<key>WFItemType</key>
													<integer>1</integer>
													<key>WFKey</key>
													<dict>
														<key>Value</key>
														<dict>
															<key>string</key>
															<string>fields</string>
														</dict>
														<key>WFSerializationType</key>
														<string>WFTextTokenString</string>
													</dict>
													<key>WFValue</key>
													<dict>
														<key>Value</key>
														<dict>
															<key>Value</key>
															<dict>
																<key>WFDictionaryFieldValueItems</key>
																<array>
																	<dict>
																		<key>WFItemType</key>
																		<integer>0</integer>
																		<key>WFKey</key>
																		<dict>
																			<key>Value</key>
																			<dict>
																				<key>attachmentsByRange</key>
																				<dict>
																					<key>{12, 1}</key>
																					<dict>
																						<key>Type</key>
																						<string>Variable</string>
																						<key>VariableName</key>
																						<string>FID</string>
																					</dict>
																				</dict>
																				<key>string</key>
																				<string>customfield_￼</string>
																			</dict>
																			<key>WFSerializationType</key>
																			<string>WFTextTokenString</string>
																		</dict>
																		<key>WFValue</key>
																		<dict>
																			<key>Value</key>
																			<dict>
																				<key>attachmentsByRange</key>
																				<dict>
																					<key>{0, 1}</key>
																					<dict>
																						<key>Aggrandizements</key>
																						<array>
																							<dict>
																								<key>CoercionItemClass</key>
																								<string>WFDictionaryContentItem</string>
																								<key>Type</key>
																								<string>WFCoercionVariableAggrandizement</string>
																							</dict>
																							<dict>
																								<key>DictionaryKey</key>
																								<string>newValue</string>
																								<key>Type</key>
																								<string>WFDictionaryValueVariableAggrandizement</string>
																							</dict>
																						</array>
																						<key>OutputName</key>
																						<string>Result</string>
																						<key>OutputUUID</key>
																						<string>C3E456FC-B4AC-4548-8650-E06F7DCA6CE1</string>
																						<key>Type</key>
																						<string>ActionOutput</string>
																					</dict>
																				</dict>
																				<key>string</key>
																				<string>￼</string>
																			</dict>
																			<key>WFSerializationType</key>
																			<string>WFTextTokenString</string>
																		</dict>
																	</dict>
																</array>
															</dict>
															<key>WFSerializationType</key>
															<string>WFDictionaryFieldValue</string>
														</dict>
														<key>WFSerializationType</key>
														<string>WFDictionaryFieldValue</string>
													</dict>
												</dict>
											</array>
										</dict>
										<key>WFSerializationType</key>
										<string>WFDictionaryFieldValue</string>
									</dict>
									<key>WFSerializationType</key>
									<string>WFDictionaryFieldValue</string>
								</dict>
							</dict>
						</array>
					</dict>
					<key>WFSerializationType</key>
					<string>WFDictionaryFieldValue</string>
				</dict>
			</dict>
		</dict>
		<dict>
			<key>WFWorkflowActionIdentifier</key>
			<string>is.workflow.actions.runworkflow</string>
			<key>WFWorkflowActionParameters</key>
			<dict>
				<key>UUID</key>
				<string>5F5B077B-A275-4C29-AD81-ACBBB635E124</string>
				<key>WFInput</key>
				<dict>
					<key>Value</key>
					<dict>
						<key>OutputName</key>
						<string>Dictionary</string>
						<key>OutputUUID</key>
						<string>D340DC0F-B702-4938-9C37-36168D945BF1</string>
						<key>Type</key>
						<string>ActionOutput</string>
					</dict>
					<key>WFSerializationType</key>
					<string>WFTextTokenAttachment</string>
				</dict>
				<key>WFWorkflow</key>
				<dict>
					<key>isSelf</key>
					<false/>
					<key>workflowIdentifier</key>
					<string>B245F907-CA3B-4273-B2B7-BE1A4BAE3F79</string>
					<key>workflowName</key>
					<string>Jira API</string>
				</dict>
				<key>WFWorkflowName</key>
				<string>Jira API</string>
			</dict>
		</dict>
		<dict>
			<key>WFWorkflowActionIdentifier</key>
			<string>is.workflow.actions.appendvariable</string>
			<key>WFWorkflowActionParameters</key>
			<dict>
				<key>WFInput</key>
				<dict>
					<key>Value</key>
					<dict>
						<key>OutputName</key>
						<string>Shortcut Result</string>
						<key>OutputUUID</key>
						<string>5F5B077B-A275-4C29-AD81-ACBBB635E124</string>
						<key>Type</key>
						<string>ActionOutput</string>
					</dict>
					<key>WFSerializationType</key>
					<string>WFTextTokenAttachment</string>
				</dict>
				<key>WFVariableName</key>
				<string>Updated Issues</string>
			</dict>
		</dict>
		<dict>
			<key>WFWorkflowActionIdentifier</key>
			<string>is.workflow.actions.conditional</string>
			<key>WFWorkflowActionParameters</key>
			<dict>
				<key>GroupingIdentifier</key>
				<string>FAC0F958-C6D7-4969-9830-1BE2C0B6472C</string>
				<key>UUID</key>
				<string>8D9F8B76-6DCE-4FE1-9947-0DA9AECC8CCE</string>
				<key>WFControlFlowMode</key>
				<integer>2</integer>
			</dict>
		</dict>
		<dict>
			<key>WFWorkflowActionIdentifier</key>
			<string>is.workflow.actions.repeat.each</string>
			<key>WFWorkflowActionParameters</key>
			<dict>
				<key>GroupingIdentifier</key>
				<string>6F192F82-E28B-4DA5-8E9D-3595CEE96F87</string>
				<key>UUID</key>
				<string>93C52995-3225-47BD-9DAE-68B78165FCC5</string>
				<key>WFControlFlowMode</key>
				<integer>2</integer>
			</dict>
		</dict>
		<dict>
			<key>WFWorkflowActionIdentifier</key>
			<string>is.workflow.actions.count</string>
			<key>WFWorkflowActionParameters</key>
			<dict>
				<key>Input</key>
				<dict>
					<key>Value</key>
					<dict>
						<key>Type</key>
						<string>Variable</string>
						<key>VariableName</key>
						<string>Updated Issues</string>
					</dict>
					<key>WFSerializationType</key>
					<string>WFTextTokenAttachment</string>
				</dict>
				<key>UUID</key>
				<string>23180042-1F8E-4EC8-A828-ED3315DF5F7D</string>
			</dict>
		</dict>
		<dict>
			<key>WFWorkflowActionIdentifier</key>
			<string>is.workflow.actions.conditional</string>
			<key>WFWorkflowActionParameters</key>
			<dict>
				<key>GroupingIdentifier</key>
				<string>732DECE0-5E84-43B1-A972-8FEC52FECF86</string>
				<key>WFCondition</key>
				<integer>2</integer>
				<key>WFControlFlowMode</key>
				<integer>0</integer>
				<key>WFInput</key>
				<dict>
					<key>Type</key>
					<string>Variable</string>
					<key>Variable</key>
					<dict>
						<key>Value</key>
						<dict>
							<key>OutputName</key>
							<string>Count</string>
							<key>OutputUUID</key>
							<string>23180042-1F8E-4EC8-A828-ED3315DF5F7D</string>
							<key>Type</key>
							<string>ActionOutput</string>
						</dict>
						<key>WFSerializationType</key>
						<string>WFTextTokenAttachment</string>
					</dict>
				</dict>
				<key>WFNumberValue</key>
				<string>0</string>
			</dict>
		</dict>
		<dict>
			<key>WFWorkflowActionIdentifier</key>
			<string>is.workflow.actions.notification</string>
			<key>WFWorkflowActionParameters</key>
			<dict>
				<key>UUID</key>
				<string>3944118D-3424-4F5F-870F-4FAD5931EB7E</string>
				<key>WFNotificationActionBody</key>
				<dict>
					<key>Value</key>
					<dict>
						<key>attachmentsByRange</key>
						<dict>
							<key>{8, 1}</key>
							<dict>
								<key>OutputName</key>
								<string>Count</string>
								<key>OutputUUID</key>
								<string>23180042-1F8E-4EC8-A828-ED3315DF5F7D</string>
								<key>Type</key>
								<string>ActionOutput</string>
							</dict>
						</dict>
						<key>string</key>
						<string>Updated ￼ issues</string>
					</dict>
					<key>WFSerializationType</key>
					<string>WFTextTokenString</string>
				</dict>
			</dict>
		</dict>
		<dict>
			<key>WFWorkflowActionIdentifier</key>
			<string>is.workflow.actions.conditional</string>
			<key>WFWorkflowActionParameters</key>
			<dict>
				<key>GroupingIdentifier</key>
				<string>732DECE0-5E84-43B1-A972-8FEC52FECF86</string>
				<key>WFControlFlowMode</key>
				<integer>2</integer>
			</dict>
		</dict>
	</array>
	<key>WFWorkflowClientVersion</key>
	<string>2302.0.4</string>
	<key>WFWorkflowHasOutputFallback</key>
	<false/>
	<key>WFWorkflowHasShortcutInputVariables</key>
	<false/>
	<key>WFWorkflowIcon</key>
	<dict>
		<key>WFWorkflowIconGlyphNumber</key>
		<integer>61440</integer>
		<key>WFWorkflowIconStartColor</key>
		<integer>-2873601</integer>
	</dict>
	<key>WFWorkflowImportQuestions</key>
	<array/>
	<key>WFWorkflowInputContentItemClasses</key>
	<array>
		<string>WFAppContentItem</string>
		<string>WFAppStoreAppContentItem</string>
		<string>WFArticleContentItem</string>
		<string>WFContactContentItem</string>
		<string>WFDateContentItem</string>
		<string>WFEmailAddressContentItem</string>
		<string>WFFolderContentItem</string>
		<string>WFGenericFileContentItem</string>
		<string>WFImageContentItem</string>
		<string>WFiTunesProductContentItem</string>
		<string>WFLocationContentItem</string>
		<string>WFDCMapsLinkContentItem</string>
		<string>WFAVAssetContentItem</string>
		<string>WFPDFContentItem</string>
		<string>WFPhoneNumberContentItem</string>
		<string>WFRichTextContentItem</string>
		<string>WFSafariWebPageContentItem</string>
		<string>WFStringContentItem</string>
		<string>WFURLContentItem</string>
	</array>
	<key>WFWorkflowMinimumClientVersion</key>
	<integer>900</integer>
	<key>WFWorkflowMinimumClientVersionString</key>
	<string>900</string>
	<key>WFWorkflowOutputContentItemClasses</key>
	<array/>
	<key>WFWorkflowTypes</key>
	<array/>
</dict>
</plist>
