<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>WFQuickActionSurfaces</key>
	<array/>
	<key>WFWorkflowActions</key>
	<array>
		<dict>
			<key>WFWorkflowActionIdentifier</key>
			<string>dk.simonbs.DataJar.GetValueIntent</string>
			<key>WFWorkflowActionParameters</key>
			<dict>
				<key>CustomOutputName</key>
				<string>config</string>
				<key>UUID</key>
				<string>84D26323-BCD6-4B0A-B5AF-B5DD07DC4D47</string>
				<key>keyPath</key>
				<string>google-oauth</string>
			</dict>
		</dict>
		<dict>
			<key>WFWorkflowActionIdentifier</key>
			<string>ke.bou.GizmoPack.QueryJSONIntent</string>
			<key>WFWorkflowActionParameters</key>
			<dict>
				<key>CustomOutputName</key>
				<string>existing unexpired token</string>
				<key>UUID</key>
				<string>DEC1146C-9821-4B3C-87A0-EC348E12AA9F</string>
				<key>input</key>
				<dict>
					<key>Value</key>
					<dict>
						<key>OutputName</key>
						<string>config</string>
						<key>OutputUUID</key>
						<string>84D26323-BCD6-4B0A-B5AF-B5DD07DC4D47</string>
						<key>Type</key>
						<string>ActionOutput</string>
					</dict>
					<key>WFSerializationType</key>
					<string>WFTextTokenAttachment</string>
				</dict>
				<key>jqQuery</key>
				<string>if .token.expires_at &gt; (now | todate) and .token.access_token then .token else empty end</string>
				<key>queryType</key>
				<string>jq</string>
			</dict>
		</dict>
		<dict>
			<key>WFWorkflowActionIdentifier</key>
			<string>is.workflow.actions.conditional</string>
			<key>WFWorkflowActionParameters</key>
			<dict>
				<key>GroupingIdentifier</key>
				<string>2A79BC9F-64D3-4E75-9B83-A2D758932D7B</string>
				<key>WFCondition</key>
				<integer>100</integer>
				<key>WFControlFlowMode</key>
				<integer>0</integer>
				<key>WFInput</key>
				<dict>
					<key>Type</key>
					<string>Variable</string>
					<key>Variable</key>
					<dict>
						<key>Value</key>
						<dict>
							<key>OutputName</key>
							<string>existing unexpired token</string>
							<key>OutputUUID</key>
							<string>DEC1146C-9821-4B3C-87A0-EC348E12AA9F</string>
							<key>Type</key>
							<string>ActionOutput</string>
						</dict>
						<key>WFSerializationType</key>
						<string>WFTextTokenAttachment</string>
					</dict>
				</dict>
			</dict>
		</dict>
		<dict>
			<key>WFWorkflowActionIdentifier</key>
			<string>is.workflow.actions.output</string>
			<key>WFWorkflowActionParameters</key>
			<dict>
				<key>UUID</key>
				<string>A039CBB8-A415-4C45-8F41-F48FD5109FFA</string>
				<key>WFNoOutputSurfaceBehavior</key>
				<string>Respond</string>
				<key>WFOutput</key>
				<dict>
					<key>Value</key>
					<dict>
						<key>attachmentsByRange</key>
						<dict>
							<key>{0, 1}</key>
							<dict>
								<key>Aggrandizements</key>
								<array>
									<dict>
										<key>CoercionItemClass</key>
										<string>WFDictionaryContentItem</string>
										<key>Type</key>
										<string>WFCoercionVariableAggrandizement</string>
									</dict>
									<dict>
										<key>DictionaryKey</key>
										<string>token_type</string>
										<key>Type</key>
										<string>WFDictionaryValueVariableAggrandizement</string>
									</dict>
								</array>
								<key>OutputName</key>
								<string>existing unexpired token</string>
								<key>OutputUUID</key>
								<string>DEC1146C-9821-4B3C-87A0-EC348E12AA9F</string>
								<key>Type</key>
								<string>ActionOutput</string>
							</dict>
							<key>{2, 1}</key>
							<dict>
								<key>Aggrandizements</key>
								<array>
									<dict>
										<key>CoercionItemClass</key>
										<string>WFDictionaryContentItem</string>
										<key>Type</key>
										<string>WFCoercionVariableAggrandizement</string>
									</dict>
									<dict>
										<key>DictionaryKey</key>
										<string>access_token</string>
										<key>Type</key>
										<string>WFDictionaryValueVariableAggrandizement</string>
									</dict>
								</array>
								<key>OutputName</key>
								<string>existing unexpired token</string>
								<key>OutputUUID</key>
								<string>DEC1146C-9821-4B3C-87A0-EC348E12AA9F</string>
								<key>Type</key>
								<string>ActionOutput</string>
							</dict>
						</dict>
						<key>string</key>
						<string>￼ ￼</string>
					</dict>
					<key>WFSerializationType</key>
					<string>WFTextTokenString</string>
				</dict>
				<key>WFResponse</key>
				<string>Successfully authenticated to Google. ✅</string>
			</dict>
		</dict>
		<dict>
			<key>WFWorkflowActionIdentifier</key>
			<string>is.workflow.actions.conditional</string>
			<key>WFWorkflowActionParameters</key>
			<dict>
				<key>GroupingIdentifier</key>
				<string>2A79BC9F-64D3-4E75-9B83-A2D758932D7B</string>
				<key>UUID</key>
				<string>47C51576-B96D-4A97-AD0C-0352C33DCF49</string>
				<key>WFControlFlowMode</key>
				<integer>2</integer>
			</dict>
		</dict>
		<dict>
			<key>WFWorkflowActionIdentifier</key>
			<string>ke.bou.GizmoPack.QueryJSONIntent</string>
			<key>WFWorkflowActionParameters</key>
			<dict>
				<key>CustomOutputName</key>
				<string>refresh_uri</string>
				<key>UUID</key>
				<string>CC3A7B19-F8E9-492A-8449-C67FBC94BAFD</string>
				<key>input</key>
				<dict>
					<key>Value</key>
					<dict>
						<key>OutputName</key>
						<string>config</string>
						<key>OutputUUID</key>
						<string>84D26323-BCD6-4B0A-B5AF-B5DD07DC4D47</string>
						<key>Type</key>
						<string>ActionOutput</string>
					</dict>
					<key>WFSerializationType</key>
					<string>WFTextTokenAttachment</string>
				</dict>
				<key>jqQuery</key>
				<string>if .token.expires_at &lt;= (now | todate) and .token.refresh_token then .token_uri + "?" + (.params + (.token | {refresh_token}) + { grant_type: "refresh_token" } | to_entries | map(map(@uri) | join("=")) | join("&amp;")) else empty end</string>
				<key>queryType</key>
				<string>jq</string>
			</dict>
		</dict>
		<dict>
			<key>WFWorkflowActionIdentifier</key>
			<string>is.workflow.actions.conditional</string>
			<key>WFWorkflowActionParameters</key>
			<dict>
				<key>GroupingIdentifier</key>
				<string>22E62798-BDB0-43EE-BE22-F8F025412072</string>
				<key>WFCondition</key>
				<integer>100</integer>
				<key>WFControlFlowMode</key>
				<integer>0</integer>
				<key>WFInput</key>
				<dict>
					<key>Type</key>
					<string>Variable</string>
					<key>Variable</key>
					<dict>
						<key>Value</key>
						<dict>
							<key>OutputName</key>
							<string>refresh_uri</string>
							<key>OutputUUID</key>
							<string>CC3A7B19-F8E9-492A-8449-C67FBC94BAFD</string>
							<key>Type</key>
							<string>ActionOutput</string>
						</dict>
						<key>WFSerializationType</key>
						<string>WFTextTokenAttachment</string>
					</dict>
				</dict>
			</dict>
		</dict>
		<dict>
			<key>WFWorkflowActionIdentifier</key>
			<string>is.workflow.actions.downloadurl</string>
			<key>WFWorkflowActionParameters</key>
			<dict>
				<key>CustomOutputName</key>
				<string>refresh_result</string>
				<key>UUID</key>
				<string>A365AFC6-4FD4-4082-A035-A5CD21C94068</string>
				<key>WFHTTPMethod</key>
				<string>POST</string>
				<key>WFURL</key>
				<dict>
					<key>Value</key>
					<dict>
						<key>attachmentsByRange</key>
						<dict>
							<key>{0, 1}</key>
							<dict>
								<key>OutputName</key>
								<string>refresh_uri</string>
								<key>OutputUUID</key>
								<string>CC3A7B19-F8E9-492A-8449-C67FBC94BAFD</string>
								<key>Type</key>
								<string>ActionOutput</string>
							</dict>
						</dict>
						<key>string</key>
						<string>￼</string>
					</dict>
					<key>WFSerializationType</key>
					<string>WFTextTokenString</string>
				</dict>
			</dict>
		</dict>
		<dict>
			<key>WFWorkflowActionIdentifier</key>
			<string>ke.bou.GizmoPack.QueryJSONIntent</string>
			<key>WFWorkflowActionParameters</key>
			<dict>
				<key>CustomOutputName</key>
				<string>timestamped_token</string>
				<key>UUID</key>
				<string>668D8032-4727-427E-8D4B-EAA5C4BA8941</string>
				<key>input</key>
				<dict>
					<key>Value</key>
					<dict>
						<key>OutputName</key>
						<string>refresh_result</string>
						<key>OutputUUID</key>
						<string>A365AFC6-4FD4-4082-A035-A5CD21C94068</string>
						<key>Type</key>
						<string>ActionOutput</string>
					</dict>
					<key>WFSerializationType</key>
					<string>WFTextTokenAttachment</string>
				</dict>
				<key>jqQuery</key>
				<dict>
					<key>Value</key>
					<dict>
						<key>attachmentsByRange</key>
						<dict>
							<key>{0, 1}</key>
							<dict>
								<key>Aggrandizements</key>
								<array>
									<dict>
										<key>CoercionItemClass</key>
										<string>WFDictionaryContentItem</string>
										<key>Type</key>
										<string>WFCoercionVariableAggrandizement</string>
									</dict>
									<dict>
										<key>DictionaryKey</key>
										<string>token</string>
										<key>Type</key>
										<string>WFDictionaryValueVariableAggrandizement</string>
									</dict>
								</array>
								<key>OutputName</key>
								<string>config</string>
								<key>OutputUUID</key>
								<string>84D26323-BCD6-4B0A-B5AF-B5DD07DC4D47</string>
								<key>Type</key>
								<string>ActionOutput</string>
							</dict>
						</dict>
						<key>string</key>
						<string>￼ + . + { refreshed_at: (now | todate), expires_at: (now + .expires_in | todate) }</string>
					</dict>
					<key>WFSerializationType</key>
					<string>WFTextTokenString</string>
				</dict>
				<key>queryType</key>
				<string>jq</string>
			</dict>
		</dict>
		<dict>
			<key>WFWorkflowActionIdentifier</key>
			<string>dk.simonbs.DataJar.SetValueIntent</string>
			<key>WFWorkflowActionParameters</key>
			<dict>
				<key>UUID</key>
				<string>64B1C3FA-FFD4-4D37-8079-99E9EF0434DC</string>
				<key>keyPath</key>
				<string>google-oauth.token</string>
				<key>overwriteStrategy</key>
				<string>alwaysAllow</string>
				<key>values</key>
				<dict>
					<key>Value</key>
					<dict>
						<key>OutputName</key>
						<string>timestamped_token</string>
						<key>OutputUUID</key>
						<string>668D8032-4727-427E-8D4B-EAA5C4BA8941</string>
						<key>Type</key>
						<string>ActionOutput</string>
					</dict>
					<key>WFSerializationType</key>
					<string>WFTextTokenAttachment</string>
				</dict>
			</dict>
		</dict>
		<dict>
			<key>WFWorkflowActionIdentifier</key>
			<string>ke.bou.GizmoPack.QueryJSONIntent</string>
			<key>WFWorkflowActionParameters</key>
			<dict>
				<key>UUID</key>
				<string>76635C95-C145-47EC-9FBB-3DD2B9985D90</string>
				<key>input</key>
				<dict>
					<key>Value</key>
					<dict>
						<key>OutputName</key>
						<string>timestamped_token</string>
						<key>OutputUUID</key>
						<string>668D8032-4727-427E-8D4B-EAA5C4BA8941</string>
						<key>Type</key>
						<string>ActionOutput</string>
					</dict>
					<key>WFSerializationType</key>
					<string>WFTextTokenAttachment</string>
				</dict>
				<key>jqQuery</key>
				<string>.token_type + " " + .access_token</string>
				<key>queryType</key>
				<string>jq</string>
			</dict>
		</dict>
		<dict>
			<key>WFWorkflowActionIdentifier</key>
			<string>is.workflow.actions.output</string>
			<key>WFWorkflowActionParameters</key>
			<dict>
				<key>UUID</key>
				<string>D2234AD6-0857-4053-B57F-6246D4D96D77</string>
				<key>WFNoOutputSurfaceBehavior</key>
				<string>Respond</string>
				<key>WFOutput</key>
				<dict>
					<key>Value</key>
					<dict>
						<key>attachmentsByRange</key>
						<dict>
							<key>{0, 1}</key>
							<dict>
								<key>OutputName</key>
								<string>Result</string>
								<key>OutputUUID</key>
								<string>76635C95-C145-47EC-9FBB-3DD2B9985D90</string>
								<key>Type</key>
								<string>ActionOutput</string>
							</dict>
						</dict>
						<key>string</key>
						<string>￼</string>
					</dict>
					<key>WFSerializationType</key>
					<string>WFTextTokenString</string>
				</dict>
				<key>WFResponse</key>
				<string>Successfully authenticated to Google. ✅</string>
			</dict>
		</dict>
		<dict>
			<key>WFWorkflowActionIdentifier</key>
			<string>is.workflow.actions.conditional</string>
			<key>WFWorkflowActionParameters</key>
			<dict>
				<key>GroupingIdentifier</key>
				<string>22E62798-BDB0-43EE-BE22-F8F025412072</string>
				<key>WFControlFlowMode</key>
				<integer>1</integer>
			</dict>
		</dict>
		<dict>
			<key>WFWorkflowActionIdentifier</key>
			<string>is.workflow.actions.dictionary</string>
			<key>WFWorkflowActionParameters</key>
			<dict>
				<key>CustomOutputName</key>
				<string>auth_params</string>
				<key>UUID</key>
				<string>4C5D6E57-01AD-433F-B742-1A5F09AFAC5B</string>
				<key>WFItems</key>
				<dict>
					<key>Value</key>
					<dict>
						<key>WFDictionaryFieldValueItems</key>
						<array>
							<dict>
								<key>WFItemType</key>
								<integer>0</integer>
								<key>WFKey</key>
								<dict>
									<key>Value</key>
									<dict>
										<key>string</key>
										<string>approval_prompt</string>
									</dict>
									<key>WFSerializationType</key>
									<string>WFTextTokenString</string>
								</dict>
								<key>WFValue</key>
								<dict>
									<key>Value</key>
									<dict>
										<key>string</key>
										<string>force</string>
									</dict>
									<key>WFSerializationType</key>
									<string>WFTextTokenString</string>
								</dict>
							</dict>
							<dict>
								<key>WFItemType</key>
								<integer>0</integer>
								<key>WFKey</key>
								<dict>
									<key>Value</key>
									<dict>
										<key>string</key>
										<string>access_type</string>
									</dict>
									<key>WFSerializationType</key>
									<string>WFTextTokenString</string>
								</dict>
								<key>WFValue</key>
								<dict>
									<key>Value</key>
									<dict>
										<key>string</key>
										<string>offline</string>
									</dict>
									<key>WFSerializationType</key>
									<string>WFTextTokenString</string>
								</dict>
							</dict>
							<dict>
								<key>WFItemType</key>
								<integer>0</integer>
								<key>WFKey</key>
								<dict>
									<key>Value</key>
									<dict>
										<key>string</key>
										<string>response_type</string>
									</dict>
									<key>WFSerializationType</key>
									<string>WFTextTokenString</string>
								</dict>
								<key>WFValue</key>
								<dict>
									<key>Value</key>
									<dict>
										<key>string</key>
										<string>code</string>
									</dict>
									<key>WFSerializationType</key>
									<string>WFTextTokenString</string>
								</dict>
							</dict>
						</array>
					</dict>
					<key>WFSerializationType</key>
					<string>WFDictionaryFieldValue</string>
				</dict>
			</dict>
		</dict>
		<dict>
			<key>WFWorkflowActionIdentifier</key>
			<string>ke.bou.GizmoPack.QueryJSONIntent</string>
			<key>WFWorkflowActionParameters</key>
			<dict>
				<key>CustomOutputName</key>
				<string>auth_uri</string>
				<key>UUID</key>
				<string>8D8036AD-0DC7-4E4E-B882-62CE84B55BE8</string>
				<key>input</key>
				<dict>
					<key>Value</key>
					<dict>
						<key>OutputName</key>
						<string>config</string>
						<key>OutputUUID</key>
						<string>84D26323-BCD6-4B0A-B5AF-B5DD07DC4D47</string>
						<key>Type</key>
						<string>ActionOutput</string>
					</dict>
					<key>WFSerializationType</key>
					<string>WFTextTokenAttachment</string>
				</dict>
				<key>jqQuery</key>
				<dict>
					<key>Value</key>
					<dict>
						<key>attachmentsByRange</key>
						<dict>
							<key>{29, 1}</key>
							<dict>
								<key>OutputName</key>
								<string>auth_params</string>
								<key>OutputUUID</key>
								<string>4C5D6E57-01AD-433F-B742-1A5F09AFAC5B</string>
								<key>Type</key>
								<string>ActionOutput</string>
							</dict>
						</dict>
						<key>string</key>
						<string>.auth_uri + "?" + (.params + ￼| del(.client_secret) | to_entries | map(map(@uri) | join("=")) | join("&amp;"))</string>
					</dict>
					<key>WFSerializationType</key>
					<string>WFTextTokenString</string>
				</dict>
				<key>queryType</key>
				<string>jq</string>
				<key>slurp</key>
				<false/>
			</dict>
		</dict>
		<dict>
			<key>WFWorkflowActionIdentifier</key>
			<string>is.workflow.actions.openxcallbackurl</string>
			<key>WFWorkflowActionParameters</key>
			<dict>
				<key>UUID</key>
				<string>70E940E7-6A39-4C9E-9641-9FB4061A2B1F</string>
				<key>WFXCallbackCustomCallbackEnabled</key>
				<true/>
				<key>WFXCallbackCustomSuccessKey</key>
				<string>state</string>
				<key>WFXCallbackCustomSuccessURLEnabled</key>
				<false/>
				<key>WFXCallbackURL</key>
				<dict>
					<key>Value</key>
					<dict>
						<key>attachmentsByRange</key>
						<dict>
							<key>{0, 1}</key>
							<dict>
								<key>OutputName</key>
								<string>auth_uri</string>
								<key>OutputUUID</key>
								<string>8D8036AD-0DC7-4E4E-B882-62CE84B55BE8</string>
								<key>Type</key>
								<string>ActionOutput</string>
							</dict>
						</dict>
						<key>string</key>
						<string>￼</string>
					</dict>
					<key>WFSerializationType</key>
					<string>WFTextTokenString</string>
				</dict>
			</dict>
		</dict>
		<dict>
			<key>WFWorkflowActionIdentifier</key>
			<string>is.workflow.actions.detect.dictionary</string>
			<key>WFWorkflowActionParameters</key>
			<dict>
				<key>CustomOutputName</key>
				<string>result</string>
				<key>UUID</key>
				<string>E0894B2F-D51A-4A7A-AD1D-B27C80322D33</string>
				<key>WFInput</key>
				<dict>
					<key>Value</key>
					<dict>
						<key>OutputName</key>
						<string>X-Callback Result</string>
						<key>OutputUUID</key>
						<string>70E940E7-6A39-4C9E-9641-9FB4061A2B1F</string>
						<key>Type</key>
						<string>ActionOutput</string>
					</dict>
					<key>WFSerializationType</key>
					<string>WFTextTokenAttachment</string>
				</dict>
			</dict>
		</dict>
		<dict>
			<key>WFWorkflowActionIdentifier</key>
			<string>is.workflow.actions.dictionary</string>
			<key>WFWorkflowActionParameters</key>
			<dict>
				<key>CustomOutputName</key>
				<string>token_params</string>
				<key>UUID</key>
				<string>0069A083-78C1-41CB-B483-61B88DACE991</string>
				<key>WFItems</key>
				<dict>
					<key>Value</key>
					<dict>
						<key>WFDictionaryFieldValueItems</key>
						<array>
							<dict>
								<key>WFItemType</key>
								<integer>0</integer>
								<key>WFKey</key>
								<dict>
									<key>Value</key>
									<dict>
										<key>string</key>
										<string>grant_type</string>
									</dict>
									<key>WFSerializationType</key>
									<string>WFTextTokenString</string>
								</dict>
								<key>WFValue</key>
								<dict>
									<key>Value</key>
									<dict>
										<key>string</key>
										<string>authorization_code</string>
									</dict>
									<key>WFSerializationType</key>
									<string>WFTextTokenString</string>
								</dict>
							</dict>
						</array>
					</dict>
					<key>WFSerializationType</key>
					<string>WFDictionaryFieldValue</string>
				</dict>
			</dict>
		</dict>
		<dict>
			<key>WFWorkflowActionIdentifier</key>
			<string>ke.bou.GizmoPack.QueryJSONIntent</string>
			<key>WFWorkflowActionParameters</key>
			<dict>
				<key>CustomOutputName</key>
				<string>token_uri</string>
				<key>UUID</key>
				<string>9B9A24AE-B2CE-4BF6-A6D5-68174D4F2A4C</string>
				<key>input</key>
				<dict>
					<key>Value</key>
					<dict>
						<key>OutputName</key>
						<string>config</string>
						<key>OutputUUID</key>
						<string>84D26323-BCD6-4B0A-B5AF-B5DD07DC4D47</string>
						<key>Type</key>
						<string>ActionOutput</string>
					</dict>
					<key>WFSerializationType</key>
					<string>WFTextTokenAttachment</string>
				</dict>
				<key>jqQuery</key>
				<dict>
					<key>Value</key>
					<dict>
						<key>attachmentsByRange</key>
						<dict>
							<key>{20, 1}</key>
							<dict>
								<key>OutputName</key>
								<string>token_params</string>
								<key>OutputUUID</key>
								<string>0069A083-78C1-41CB-B483-61B88DACE991</string>
								<key>Type</key>
								<string>ActionOutput</string>
							</dict>
							<key>{24, 1}</key>
							<dict>
								<key>OutputName</key>
								<string>result</string>
								<key>OutputUUID</key>
								<string>E0894B2F-D51A-4A7A-AD1D-B27C80322D33</string>
								<key>Type</key>
								<string>ActionOutput</string>
							</dict>
						</dict>
						<key>string</key>
						<string>.token_uri + "?" + (￼ + ￼ + .params | to_entries | map(map(@uri | gsub("\\+"; "%20")) | join("=")) | join("&amp;"))</string>
					</dict>
					<key>WFSerializationType</key>
					<string>WFTextTokenString</string>
				</dict>
				<key>queryType</key>
				<string>jq</string>
				<key>slurp</key>
				<false/>
			</dict>
		</dict>
		<dict>
			<key>WFWorkflowActionIdentifier</key>
			<string>is.workflow.actions.url</string>
			<key>WFWorkflowActionParameters</key>
			<dict>
				<key>Show-WFURLActionURL</key>
				<true/>
				<key>UUID</key>
				<string>F4EF10F0-DF9E-44BD-AD8B-82026C0DA33A</string>
				<key>WFURLActionURL</key>
				<dict>
					<key>Value</key>
					<dict>
						<key>OutputName</key>
						<string>token_uri</string>
						<key>OutputUUID</key>
						<string>9B9A24AE-B2CE-4BF6-A6D5-68174D4F2A4C</string>
						<key>Type</key>
						<string>ActionOutput</string>
					</dict>
					<key>WFSerializationType</key>
					<string>WFTextTokenAttachment</string>
				</dict>
			</dict>
		</dict>
		<dict>
			<key>WFWorkflowActionIdentifier</key>
			<string>is.workflow.actions.downloadurl</string>
			<key>WFWorkflowActionParameters</key>
			<dict>
				<key>Advanced</key>
				<true/>
				<key>CustomOutputName</key>
				<string>token</string>
				<key>ShowHeaders</key>
				<false/>
				<key>UUID</key>
				<string>28548D2F-D810-43D4-87E7-B9C925A91E03</string>
				<key>WFHTTPMethod</key>
				<string>POST</string>
				<key>WFURL</key>
				<dict>
					<key>Value</key>
					<dict>
						<key>attachmentsByRange</key>
						<dict>
							<key>{0, 1}</key>
							<dict>
								<key>OutputName</key>
								<string>URL</string>
								<key>OutputUUID</key>
								<string>F4EF10F0-DF9E-44BD-AD8B-82026C0DA33A</string>
								<key>Type</key>
								<string>ActionOutput</string>
							</dict>
						</dict>
						<key>string</key>
						<string>￼</string>
					</dict>
					<key>WFSerializationType</key>
					<string>WFTextTokenString</string>
				</dict>
			</dict>
		</dict>
		<dict>
			<key>WFWorkflowActionIdentifier</key>
			<string>ke.bou.GizmoPack.QueryJSONIntent</string>
			<key>WFWorkflowActionParameters</key>
			<dict>
				<key>CustomOutputName</key>
				<string>timestamped_token</string>
				<key>UUID</key>
				<string>7DCCE61E-A062-49C6-9905-E9D5A86014E7</string>
				<key>input</key>
				<dict>
					<key>Value</key>
					<dict>
						<key>OutputName</key>
						<string>token</string>
						<key>OutputUUID</key>
						<string>28548D2F-D810-43D4-87E7-B9C925A91E03</string>
						<key>Type</key>
						<string>ActionOutput</string>
					</dict>
					<key>WFSerializationType</key>
					<string>WFTextTokenAttachment</string>
				</dict>
				<key>jqQuery</key>
				<string>. + { refreshed_at: (now | todate), expires_at: (now + .expires_in | todate) }</string>
				<key>queryType</key>
				<string>jq</string>
			</dict>
		</dict>
		<dict>
			<key>WFWorkflowActionIdentifier</key>
			<string>dk.simonbs.DataJar.SetValueIntent</string>
			<key>WFWorkflowActionParameters</key>
			<dict>
				<key>UUID</key>
				<string>329B8DDA-EA20-4512-B06E-12DFCCDC0A4D</string>
				<key>keyPath</key>
				<string>google-oauth.token</string>
				<key>overwriteStrategy</key>
				<string>alwaysAllow</string>
				<key>values</key>
				<dict>
					<key>Value</key>
					<dict>
						<key>OutputName</key>
						<string>timestamped_token</string>
						<key>OutputUUID</key>
						<string>7DCCE61E-A062-49C6-9905-E9D5A86014E7</string>
						<key>Type</key>
						<string>ActionOutput</string>
					</dict>
					<key>WFSerializationType</key>
					<string>WFTextTokenAttachment</string>
				</dict>
			</dict>
		</dict>
		<dict>
			<key>WFWorkflowActionIdentifier</key>
			<string>ke.bou.GizmoPack.QueryJSONIntent</string>
			<key>WFWorkflowActionParameters</key>
			<dict>
				<key>UUID</key>
				<string>639E654E-2FA2-42AA-B0B4-880B56B8984E</string>
				<key>input</key>
				<dict>
					<key>Value</key>
					<dict>
						<key>OutputName</key>
						<string>timestamped_token</string>
						<key>OutputUUID</key>
						<string>7DCCE61E-A062-49C6-9905-E9D5A86014E7</string>
						<key>Type</key>
						<string>ActionOutput</string>
					</dict>
					<key>WFSerializationType</key>
					<string>WFTextTokenAttachment</string>
				</dict>
				<key>jqQuery</key>
				<string>.token_type + " " + .access_token</string>
				<key>queryType</key>
				<string>jq</string>
			</dict>
		</dict>
		<dict>
			<key>WFWorkflowActionIdentifier</key>
			<string>is.workflow.actions.output</string>
			<key>WFWorkflowActionParameters</key>
			<dict>
				<key>UUID</key>
				<string>D739C597-97BB-4948-9306-2A6A81F05B3C</string>
				<key>WFNoOutputSurfaceBehavior</key>
				<string>Respond</string>
				<key>WFOutput</key>
				<dict>
					<key>Value</key>
					<dict>
						<key>attachmentsByRange</key>
						<dict>
							<key>{0, 1}</key>
							<dict>
								<key>OutputName</key>
								<string>Result</string>
								<key>OutputUUID</key>
								<string>639E654E-2FA2-42AA-B0B4-880B56B8984E</string>
								<key>Type</key>
								<string>ActionOutput</string>
							</dict>
						</dict>
						<key>string</key>
						<string>￼</string>
					</dict>
					<key>WFSerializationType</key>
					<string>WFTextTokenString</string>
				</dict>
				<key>WFResponse</key>
				<string>Successfully authenticated to Google. ✅</string>
			</dict>
		</dict>
		<dict>
			<key>WFWorkflowActionIdentifier</key>
			<string>is.workflow.actions.conditional</string>
			<key>WFWorkflowActionParameters</key>
			<dict>
				<key>GroupingIdentifier</key>
				<string>22E62798-BDB0-43EE-BE22-F8F025412072</string>
				<key>UUID</key>
				<string>162C4B87-DCFE-4D7B-90F9-01B9B17B1191</string>
				<key>WFControlFlowMode</key>
				<integer>2</integer>
			</dict>
		</dict>
	</array>
	<key>WFWorkflowClientVersion</key>
	<string>2302.0.4</string>
	<key>WFWorkflowHasOutputFallback</key>
	<true/>
	<key>WFWorkflowHasShortcutInputVariables</key>
	<false/>
	<key>WFWorkflowIcon</key>
	<dict>
		<key>WFWorkflowIconGlyphNumber</key>
		<integer>59749</integer>
		<key>WFWorkflowIconStartColor</key>
		<integer>463140863</integer>
	</dict>
	<key>WFWorkflowImportQuestions</key>
	<array/>
	<key>WFWorkflowInputContentItemClasses</key>
	<array/>
	<key>WFWorkflowMinimumClientVersion</key>
	<integer>900</integer>
	<key>WFWorkflowMinimumClientVersionString</key>
	<string>900</string>
	<key>WFWorkflowOutputContentItemClasses</key>
	<array>
		<string>WFStringContentItem</string>
		<string>WFGenericFileContentItem</string>
	</array>
	<key>WFWorkflowTypes</key>
	<array>
		<string>NCWidget</string>
	</array>
</dict>
</plist>
